flows.json
[
    {
        "id": "ca2305ba.3a64f8",
        "type": "tab",
        "label": "Main Home Automation",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7f5a232.5f2e2dc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "65b61d5d.d1e1c4",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false,
        "hassio": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true
    },
    {
        "id": "384480ed.efa9c",
        "type": "comment",
        "z": "ca2305ba.3a64f8",
        "name": "Server Room Door Events",
        "info": "",
        "x": 170,
        "y": 1960,
        "wires": []
    },
    {
        "id": "a05eb081.368b1",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "Server Room Door Contact",
        "server": "65b61d5d.d1e1c4",
        "entityidfilter": "binary_sensor.server_room_door_sensor",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "habool",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 167,
        "y": 2024,
        "wires": [
            [
                "126eb1f0.60baee"
            ]
        ]
    },
    {
        "id": "126eb1f0.60baee",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "Open/Close",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 398,
        "y": 2027,
        "wires": [
            [
                "89d07e44.bb7ee"
            ],
            [
                "213116c7.f0fa2a"
            ]
        ]
    },
    {
        "id": "213116c7.f0fa2a",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Light Off",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\":\"switch.server_room_switch_switch\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 659,
        "y": 2035,
        "wires": [
            []
        ]
    },
    {
        "id": "89d07e44.bb7ee",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Light On",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\":\"switch.server_room_switch_switch\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 664,
        "y": 1949,
        "wires": [
            [
                "746d5c74.a077b4"
            ]
        ]
    },
    {
        "id": "42d94216.dcc3ec",
        "type": "bigtimer",
        "z": "ca2305ba.3a64f8",
        "outtopic": "",
        "outpayload1": "on",
        "outpayload2": "off",
        "name": "Dusk/Dawn On/Off",
        "comment": "",
        "lat": "47.758560",
        "lon": "-122.095440",
        "starttime": "5004",
        "endtime": "5003",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": "-60",
        "endoff": "+30",
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "on",
        "outtext2": "off",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 110,
        "y": 410,
        "wires": [
            [
                "82af13cb.2bbca"
            ],
            [],
            []
        ]
    },
    {
        "id": "827abe38.5cf82",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Living Room Scone On",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.living_room_sconce\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2090,
        "y": 710,
        "wires": [
            []
        ]
    },
    {
        "id": "82af13cb.2bbca",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "on/off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 329,
        "y": 411.5,
        "wires": [
            [
                "c8afd1ea.be12a",
                "20afa414.35affc"
            ],
            [
                "8d856041.3aff5"
            ]
        ]
    },
    {
        "id": "79c09d64.93f904",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Stairway Lights On",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.stairs_light_switch_level\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2070,
        "y": 910,
        "wires": [
            []
        ]
    },
    {
        "id": "c0daa976.6a2b68",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Stairway Lights Off",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.stairs_light_switch_level\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2070,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "59600ad5.5b1d94",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Living Room Scone Off",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.living_room_sconce\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2090,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "7fbbaeb0.385ac",
        "type": "comment",
        "z": "ca2305ba.3a64f8",
        "name": "Dusk Till Dawn Light Controlls",
        "info": "",
        "x": 136,
        "y": 339.5,
        "wires": []
    },
    {
        "id": "703b551.94085ac",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Front Lights Off",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.front_house_lights_switch_level\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2860,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "d3fd598e.5fd068",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Front House Lights On",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.front_house_lights_switch_level\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2870,
        "y": 1170,
        "wires": [
            []
        ]
    },
    {
        "id": "c8afd1ea.be12a",
        "type": "debug",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 320.00000381469727,
        "y": 486.4999717473984,
        "wires": []
    },
    {
        "id": "9c9d739e.481a3",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Office Google Home",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "tts",
        "service": "google_say",
        "data": "{\"entity_id\":\"media_player.office_speaker\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 1407,
        "y": 2723,
        "wires": [
            [
                "8771c665.1bc5b8"
            ]
        ]
    },
    {
        "id": "4031f858.1e9748",
        "type": "comment",
        "z": "ca2305ba.3a64f8",
        "name": "******************All Door Events******************",
        "info": "adf",
        "x": 237,
        "y": 1915,
        "wires": []
    },
    {
        "id": "42550822.4932c8",
        "type": "function",
        "z": "ca2305ba.3a64f8",
        "name": "Announce Door Closed",
        "func": "if(flow.get(\"GoogleTTSDoorStatus\") == 1) {\n    const friendlyName = msg.data.new_state.attributes.friendly_name;\n    node.status({text: friendlyName});\n        return {\n            \"payload\": {\n               \"data\": {\n                   \"message\": friendlyName + \" has been Closed\"\n                } \n        }\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 994,
        "y": 2627,
        "wires": [
            [
                "7e3035e.acfd0cc",
                "702a2083.5b29f",
                "9c9d739e.481a3"
            ]
        ]
    },
    {
        "id": "8c94788.3ba0988",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "Office Slider Door Contact",
        "server": "65b61d5d.d1e1c4",
        "entityidfilter": "binary_sensor.office_slider_sensor",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "habool",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 167,
        "y": 2178,
        "wires": [
            [
                "a2449016.4a104"
            ]
        ]
    },
    {
        "id": "a2449016.4a104",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "Open/Close",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 387,
        "y": 2179,
        "wires": [
            [
                "df229c95.d623e"
            ],
            [
                "42550822.4932c8"
            ]
        ]
    },
    {
        "id": "92f147c2.c68e38",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "Door TTS Status",
        "server": "65b61d5d.d1e1c4",
        "entityidfilter": "input_boolean.door_tts_status",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "habool",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 110,
        "y": 230,
        "wires": [
            [
                "d90bf2cf.5706e"
            ]
        ]
    },
    {
        "id": "8771c665.1bc5b8",
        "type": "debug",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1710,
        "y": 2850,
        "wires": []
    },
    {
        "id": "d90bf2cf.5706e",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "on/off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 534,
        "y": 232,
        "wires": [
            [
                "525d514e.12faf"
            ],
            [
                "4aef307b.03584"
            ]
        ]
    },
    {
        "id": "746d5c74.a077b4",
        "type": "debug",
        "z": "ca2305ba.3a64f8",
        "name": "test",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 944,
        "y": 1881,
        "wires": []
    },
    {
        "id": "fb609928.fdd758",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "Backdoor Contact",
        "server": "65b61d5d.d1e1c4",
        "entityidfilter": "binary_sensor.backdoor_sensor",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "habool",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 147,
        "y": 2260,
        "wires": [
            [
                "9a9ab806.8c55a8"
            ]
        ]
    },
    {
        "id": "525d514e.12faf",
        "type": "function",
        "z": "ca2305ba.3a64f8",
        "name": "Set Google TTS On",
        "func": "flow.set(\"GoogleTTSDoorStatus\", 1)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 756,
        "y": 186,
        "wires": [
            []
        ]
    },
    {
        "id": "df229c95.d623e",
        "type": "function",
        "z": "ca2305ba.3a64f8",
        "name": "Announce Door Open",
        "func": "if(flow.get(\"GoogleTTSDoorStatus\") == 1) {\n    const friendlyName = msg.data.new_state.attributes.friendly_name;\n    node.status({text: friendlyName});\n        return {\n            \"payload\": {\n               \"data\": {\n                   \"message\": friendlyName + \" has been Opened\"\n                } \n        }\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 992,
        "y": 2546,
        "wires": [
            [
                "eb645a5b.354298",
                "7e3035e.acfd0cc",
                "702a2083.5b29f",
                "9c9d739e.481a3"
            ]
        ]
    },
    {
        "id": "9a9ab806.8c55a8",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "Open Close",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 394,
        "y": 2258,
        "wires": [
            [
                "df229c95.d623e"
            ],
            [
                "42550822.4932c8"
            ]
        ]
    },
    {
        "id": "eb645a5b.354298",
        "type": "debug",
        "z": "ca2305ba.3a64f8",
        "name": "backdoor2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1405,
        "y": 2529,
        "wires": []
    },
    {
        "id": "4aef307b.03584",
        "type": "function",
        "z": "ca2305ba.3a64f8",
        "name": "Set Google TTS Off",
        "func": "flow.set(\"GoogleTTSDoorStatus\", 0)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 759,
        "y": 238,
        "wires": [
            []
        ]
    },
    {
        "id": "7e3035e.acfd0cc",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Kitchen Google Home",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "tts",
        "service": "google_say",
        "data": "{\"entity_id\":\"media_player.kitchen_speaker\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 1414,
        "y": 2808,
        "wires": [
            [
                "8771c665.1bc5b8"
            ]
        ]
    },
    {
        "id": "54e0a5ce.7bfacc",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "Kitchen Door Contact",
        "server": "65b61d5d.d1e1c4",
        "entityidfilter": "binary_sensor.kitchen_door_sensor",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "habool",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 157,
        "y": 2347,
        "wires": [
            [
                "facd8e21.69256"
            ]
        ]
    },
    {
        "id": "facd8e21.69256",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "Open Close",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 386,
        "y": 2347,
        "wires": [
            [
                "df229c95.d623e"
            ],
            [
                "42550822.4932c8"
            ]
        ]
    },
    {
        "id": "21ad9323.a28e1c",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "Front Door Contact",
        "server": "65b61d5d.d1e1c4",
        "entityidfilter": "binary_sensor.front_door_sensor",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "habool",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 147,
        "y": 2424,
        "wires": [
            [
                "a6a18fb5.2d4f6"
            ]
        ]
    },
    {
        "id": "a6a18fb5.2d4f6",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "Open Close",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 386,
        "y": 2424,
        "wires": [
            [
                "df229c95.d623e"
            ],
            [
                "42550822.4932c8"
            ]
        ]
    },
    {
        "id": "86610a3f.0305d8",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "Master Bedroom Slider Contact",
        "server": "65b61d5d.d1e1c4",
        "entityidfilter": "binary_sensor.master_bedroom_slider_sensor",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "habool",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 187,
        "y": 2504,
        "wires": [
            [
                "9e221147.4e4e2"
            ]
        ]
    },
    {
        "id": "9e221147.4e4e2",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "Open Close",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 428,
        "y": 2504,
        "wires": [
            [
                "df229c95.d623e"
            ],
            [
                "42550822.4932c8"
            ]
        ]
    },
    {
        "id": "49dfbb2b.bf2f24",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "Garage Basement Contact",
        "server": "65b61d5d.d1e1c4",
        "entityidfilter": "binary_sensor.garage_basement_door_sensor",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "habool",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 167,
        "y": 2594,
        "wires": [
            [
                "8e70690c.caf858"
            ]
        ]
    },
    {
        "id": "8e70690c.caf858",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "Open Close",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 428,
        "y": 2594,
        "wires": [
            [
                "df229c95.d623e"
            ],
            [
                "42550822.4932c8"
            ]
        ]
    },
    {
        "id": "5fb67583.d9170c",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "Tesla Garage Door",
        "server": "65b61d5d.d1e1c4",
        "entityidfilter": "cover.tess",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "habool",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 147,
        "y": 2723,
        "wires": [
            [
                "72c77997.8f9bd8"
            ]
        ]
    },
    {
        "id": "72c77997.8f9bd8",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "Open Close",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 415,
        "y": 2723,
        "wires": [
            [
                "df229c95.d623e"
            ],
            [
                "42550822.4932c8"
            ]
        ]
    },
    {
        "id": "5b7a8eec.bbae2",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "S2k Garage Door",
        "server": "65b61d5d.d1e1c4",
        "entityidfilter": "cover.s2000",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "habool",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 137,
        "y": 2661,
        "wires": [
            [
                "807e7b54.06b348"
            ]
        ]
    },
    {
        "id": "807e7b54.06b348",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "Open Close",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 422,
        "y": 2656,
        "wires": [
            [
                "df229c95.d623e"
            ],
            [
                "42550822.4932c8"
            ]
        ]
    },
    {
        "id": "702a2083.5b29f",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Master Bedroom mini",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "tts",
        "service": "google_say",
        "data": "{\"entity_id\":\"media_player.master_bedroom_mini\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 1418,
        "y": 2897,
        "wires": [
            [
                "8771c665.1bc5b8"
            ]
        ]
    },
    {
        "id": "ad1d275f.028818",
        "type": "comment",
        "z": "ca2305ba.3a64f8",
        "name": "Scenes - Automations",
        "info": "",
        "x": 250,
        "y": 1400,
        "wires": []
    },
    {
        "id": "2355dfcb.49c2c",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "Hot Tub",
        "server": "65b61d5d.d1e1c4",
        "entityidfilter": "input_boolean.hot_tub_scene",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "habool",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 200,
        "y": 1473,
        "wires": [
            [
                "105fdb56.2ba5f5",
                "86fbe941.829a88"
            ]
        ]
    },
    {
        "id": "105fdb56.2ba5f5",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "on/off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 398,
        "y": 1478,
        "wires": [
            [
                "8f36a295.1e12d"
            ],
            [
                "2ef53439.3cb13c"
            ]
        ]
    },
    {
        "id": "d4640ca4.3fe68",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Patio Soffit Lights - ON",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "homeassistant",
        "service": "turn_on",
        "data": "{\"entity_id\":[\"light.outside_patio_soffit_light_wall_dimmer_level\"]}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2870,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "bd62cdc3.6466f",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Patio Soffit Lights - OFF",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "homeassistant",
        "service": "turn_off",
        "data": "{\"entity_id\":[\"light.outside_patio_soffit_light_wall_dimmer_level\"]}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2890,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "86fbe941.829a88",
        "type": "debug",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 810,
        "y": 1700,
        "wires": []
    },
    {
        "id": "7b772eac.3fa28",
        "type": "power-monitor",
        "z": "ca2305ba.3a64f8",
        "name": "Washing Machine",
        "threshold": "4",
        "startafter": "3",
        "stopafter": "2",
        "x": 478.99997329711914,
        "y": 2869.0002216100693,
        "wires": [
            [],
            [
                "1497c62f.daf7ba"
            ]
        ]
    },
    {
        "id": "801d32b8.97a43",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "Washing Machine Power",
        "server": "65b61d5d.d1e1c4",
        "entityidfilter": "sensor.s31_washer_energy_power",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 154.99997329711914,
        "y": 2867.0002216100693,
        "wires": [
            [
                "7b772eac.3fa28"
            ]
        ]
    },
    {
        "id": "db48e66f.ea2418",
        "type": "power-monitor",
        "z": "ca2305ba.3a64f8",
        "name": "Dryer",
        "threshold": "3",
        "startafter": "4",
        "stopafter": "1",
        "x": 439.9999771118164,
        "y": 2954.0006984472275,
        "wires": [
            [],
            [
                "6243d4b0.8831ec",
                "6d065844.6f8968"
            ]
        ]
    },
    {
        "id": "93f05572.e6f7e8",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "Dryer Power",
        "server": "65b61d5d.d1e1c4",
        "entityidfilter": "sensor.s31_dryer_energy_power",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 113.99997329711914,
        "y": 2943.0002101659775,
        "wires": [
            [
                "db48e66f.ea2418",
                "6243d4b0.8831ec"
            ]
        ]
    },
    {
        "id": "1497c62f.daf7ba",
        "type": "function",
        "z": "ca2305ba.3a64f8",
        "name": "Announce Washer Complete",
        "func": "return {\n    \"payload\": {\n    \"data\": {\n           \"message\": \"Washing Machine is complete\"\n            } \n        }\n    }",
        "outputs": 1,
        "noerr": 0,
        "x": 992.0000190734863,
        "y": 2760.000410437584,
        "wires": [
            [
                "702a2083.5b29f",
                "9c9d739e.481a3",
                "7e3035e.acfd0cc"
            ]
        ]
    },
    {
        "id": "6d065844.6f8968",
        "type": "function",
        "z": "ca2305ba.3a64f8",
        "name": "Announce Dryer Complete",
        "func": "return {\n    \"payload\": {\n    \"data\": {\n           \"message\": \"The Dryer is complete\"\n            } \n        }\n    }",
        "outputs": 1,
        "noerr": 0,
        "x": 988.9999732971191,
        "y": 2888.00041615963,
        "wires": [
            [
                "702a2083.5b29f",
                "7e3035e.acfd0cc",
                "9c9d739e.481a3"
            ]
        ]
    },
    {
        "id": "8ff35f3a.ef114",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Outlet Dimmer Lights - ON",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "homeassistant",
        "service": "turn_on",
        "data": "{\"entity_id\":[\"light.outside_outlet_dimmer_level\"]}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2890,
        "y": 1270,
        "wires": [
            []
        ]
    },
    {
        "id": "f21bd1e7.99de2",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Outlet Dimmer Lights - OFF",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "homeassistant",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.outside_outlet_dimmer_level\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2900,
        "y": 1670,
        "wires": [
            []
        ]
    },
    {
        "id": "6243d4b0.8831ec",
        "type": "debug",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 403.0000114440918,
        "y": 3039.000212073326,
        "wires": []
    },
    {
        "id": "80b6fdfc.f155",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "Google TTS Announce Level",
        "server": "65b61d5d.d1e1c4",
        "entityidfilter": "input_number.google_tts_announce_level",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 150,
        "y": 70,
        "wires": [
            [
                "fafc0b5b.9e3788"
            ]
        ]
    },
    {
        "id": "fafc0b5b.9e3788",
        "type": "function",
        "z": "ca2305ba.3a64f8",
        "name": "Set Google TTS Announce Level",
        "func": "flow.set(\"GoogleTTSAnnounceLevel\", parseFloat (msg.payload))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 479.0142135620117,
        "y": 71.00567054748535,
        "wires": [
            [
                "b827a254.b04de",
                "197454e0.9ae08b",
                "607b74a2.1321fc"
            ]
        ]
    },
    {
        "id": "8984a751.488b38",
        "type": "debug",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1150,
        "y": 120,
        "wires": []
    },
    {
        "id": "b827a254.b04de",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Set Master Bedroom mini",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "media_player",
        "service": "volume_set",
        "data": "{\"entity_id\":\"media_player.master_bedroom_mini\",\"volume_level\":\"{{payload}}\"}",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 883.0141716003418,
        "y": 131.00562286376953,
        "wires": [
            [
                "8984a751.488b38"
            ]
        ]
    },
    {
        "id": "607b74a2.1321fc",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Set Kitchen Mini",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "media_player",
        "service": "volume_set",
        "data": "{\"entity_id\":\"media_player.kitchen_speaker\",\"volume_level\":\"{{payload}}\"}",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 850.0142135620117,
        "y": 28.00568199157715,
        "wires": [
            []
        ]
    },
    {
        "id": "197454e0.9ae08b",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Set Office Google Home",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "media_player",
        "service": "volume_set",
        "data": "{\"entity_id\":\"media_player.office_speaker\",\"volume_level\":\"{{payload}}\"}",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 883.0142135620117,
        "y": 79.00568199157715,
        "wires": [
            []
        ]
    },
    {
        "id": "20334113.f7378e",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Patio Sconce Light- ON",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "homeassistant",
        "service": "turn_on",
        "data": "{\"entity_id\":[\"light.outside_patio_sconce_light\"]}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2880,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "10d3dd4.82b3323",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Patio Sconce Light- OFF",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "homeassistant",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.outside_patio_sconce_light\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2890,
        "y": 1570,
        "wires": [
            []
        ]
    },
    {
        "id": "e8931289.5d916",
        "type": "link in",
        "z": "ca2305ba.3a64f8",
        "name": "Turn on all Kitchen Lights",
        "links": [
            "bf7b5656.d71878"
        ],
        "x": 1600,
        "y": 190,
        "wires": [
            [
                "65fd3148.a14fd",
                "7e13de80.da209",
                "f0551aed.587918",
                "66fb51d2.14a9b"
            ]
        ],
        "l": true
    },
    {
        "id": "65fd3148.a14fd",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Kitchen Fridge Light - On",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.kitchen_fridge_light_wall_dimmer_level\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2090,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "f0551aed.587918",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Kitchen Deck Door Light - On",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.kitchen_deck_door_dimmer_level\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2100,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "7e13de80.da209",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Kitchen Sink Light - On",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.kitchen_sink_light_dimmer_level\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2080,
        "y": 230,
        "wires": [
            []
        ]
    },
    {
        "id": "66fb51d2.14a9b",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Kitchen Table Light - On",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.kitchen_table_dimmer_level\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2090,
        "y": 330,
        "wires": [
            []
        ]
    },
    {
        "id": "918392a5.ec51",
        "type": "link in",
        "z": "ca2305ba.3a64f8",
        "name": "Turn off all Kitchen Lights",
        "links": [
            "1dd05952.7a5727"
        ],
        "x": 1600,
        "y": 480,
        "wires": [
            [
                "2a64fcf8.fbd1c4",
                "bcfa12f5.7de3f",
                "ec03e206.7de75",
                "721fa846.5ac218"
            ]
        ],
        "l": true
    },
    {
        "id": "2a64fcf8.fbd1c4",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Kitchen Fridge Light - Off",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.kitchen_fridge_light_wall_dimmer_level\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2090,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "ec03e206.7de75",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Kitchen Deck Door Light - Off",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.kitchen_deck_door_dimmer_level\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2100,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "bcfa12f5.7de3f",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Kitchen Sink Light - Off",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.kitchen_sink_light_dimmer_level\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2080,
        "y": 470,
        "wires": [
            []
        ]
    },
    {
        "id": "721fa846.5ac218",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Kitchen Table Light - Off",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.kitchen_table_dimmer_level\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2090,
        "y": 570,
        "wires": [
            []
        ]
    },
    {
        "id": "9e610cbd.5c3b6",
        "type": "server-events",
        "z": "ca2305ba.3a64f8",
        "name": "Input Zwave Scene activated",
        "server": "65b61d5d.d1e1c4",
        "event_type": "zwave.scene_activated",
        "x": 150,
        "y": 850,
        "wires": [
            [
                "91268369.61c9a"
            ]
        ]
    },
    {
        "id": "91268369.61c9a",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "Identify switch",
        "property": "payload.event.entity_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "zwave.office_front_lights_switch",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "zwave.kitchen_fridge_light_wall_dimmer",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 850,
        "wires": [
            [
                "b777f775.8c5d28"
            ],
            [
                "a9a69829.28b2a8"
            ]
        ]
    },
    {
        "id": "b777f775.8c5d28",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "Front Office Light Switch",
        "property": "payload.event.scene_data",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "7680",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7860",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7920",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7980",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "8040",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7740",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 660,
        "y": 770,
        "wires": [
            [],
            [
                "6fe1f9a8.c3ddc8"
            ],
            [],
            [],
            [],
            []
        ],
        "outputLabels": [
            "1x Tap",
            "2x Tap",
            "3x Tap",
            "4x Tap",
            "5x Tap",
            "Long Tap"
        ]
    },
    {
        "id": "6fe1f9a8.c3ddc8",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "2x Tap",
        "property": "payload.event.scene_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 920,
        "y": 730,
        "wires": [
            [
                "37b5dfa6.90096"
            ],
            [
                "553a45e6.a1485c"
            ]
        ]
    },
    {
        "id": "83fc36ef.873d38",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 306.9999885559082,
        "y": 1193.999918937683,
        "wires": [
            [
                "1b6aa296.33df2d"
            ],
            [
                "45b5815e.4a6e8"
            ]
        ]
    },
    {
        "id": "c0dbde48.739",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "office back light 1 on",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.office_back_1\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2870,
        "y": 750,
        "wires": [
            []
        ]
    },
    {
        "id": "1c0b1abf.3d9c55",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "office back light 1 off",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.office_back_1\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2870,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "384a49c9.fd7c56",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "Front Office Light",
        "server": "65b61d5d.d1e1c4",
        "entityidfilter": "light.office_front_lights_switch_level",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 139.9999885559082,
        "y": 1193.999918937683,
        "wires": [
            [
                "83fc36ef.873d38"
            ]
        ]
    },
    {
        "id": "5aab6efe.79b3d",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "office back light 2 on",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.office_back_2\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2870,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "8653e3c9.df975",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "office back light 2 off",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.office_back_2\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2870,
        "y": 990,
        "wires": [
            []
        ]
    },
    {
        "id": "618c1f7b.886c",
        "type": "comment",
        "z": "ca2305ba.3a64f8",
        "name": "Controll Office Lights",
        "info": "",
        "x": 106.9999885559082,
        "y": 1103.999918937683,
        "wires": []
    },
    {
        "id": "d9a5bf42.b0d81",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "office front light on",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.office_front_lights_switch_level\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2860,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "4753dbed.263004",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "front office light off",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.office_front_lights_switch_level\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2860,
        "y": 890,
        "wires": [
            []
        ]
    },
    {
        "id": "5f3b5d60.30c184",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "home theater BL on",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.home_theater_back_left\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2860,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "2ee6c55d.d59bda",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "home theater FL on",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.home_theater_front_left\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2860,
        "y": 230,
        "wires": [
            []
        ]
    },
    {
        "id": "82342c76.08e99",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "home theater FR on",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.home_theater_front_right\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2870,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "28d9ad08.ed4b22",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "home theater BR on",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.home_theater_back_right\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2870,
        "y": 330,
        "wires": [
            []
        ]
    },
    {
        "id": "129e69d6.ed5236",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "home theater BR off",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.home_theater_back_right\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2870,
        "y": 470,
        "wires": [
            []
        ]
    },
    {
        "id": "829eec45.96de6",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "home theater BL off",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.home_theater_back_left\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2860,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "f13f520c.fb519",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "home theater FR off",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.home_theater_front_right\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2870,
        "y": 570,
        "wires": [
            []
        ]
    },
    {
        "id": "438d3261.15de4c",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "home theater FL off",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.home_theater_front_left\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2860,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "34f05386.4447fc",
        "type": "comment",
        "z": "ca2305ba.3a64f8",
        "name": "********* Scene Management ********",
        "info": "",
        "x": 170,
        "y": 670,
        "wires": []
    },
    {
        "id": "96041091.3119e",
        "type": "comment",
        "z": "ca2305ba.3a64f8",
        "name": "List out all Upstairs Lights/Switches",
        "info": "",
        "x": 2030,
        "y": 60,
        "wires": []
    },
    {
        "id": "bda2c466.b5a458",
        "type": "comment",
        "z": "ca2305ba.3a64f8",
        "name": "Kitchen Lights",
        "info": "",
        "x": 1990,
        "y": 100,
        "wires": []
    },
    {
        "id": "4d53cd09.51a434",
        "type": "comment",
        "z": "ca2305ba.3a64f8",
        "name": "Trigger On",
        "info": "",
        "x": 2010,
        "y": 140,
        "wires": []
    },
    {
        "id": "22b3ceab.56c0c2",
        "type": "comment",
        "z": "ca2305ba.3a64f8",
        "name": "Trigger Off",
        "info": "",
        "x": 2010,
        "y": 380,
        "wires": []
    },
    {
        "id": "2416ebea.65a524",
        "type": "comment",
        "z": "ca2305ba.3a64f8",
        "name": "Home Theater Lights",
        "info": "",
        "x": 2810,
        "y": 100,
        "wires": []
    },
    {
        "id": "511fc771.97ee78",
        "type": "comment",
        "z": "ca2305ba.3a64f8",
        "name": "Trigger On",
        "info": "",
        "x": 2800,
        "y": 140,
        "wires": []
    },
    {
        "id": "a692f5a7.913458",
        "type": "comment",
        "z": "ca2305ba.3a64f8",
        "name": "Trigger Off",
        "info": "",
        "x": 2800,
        "y": 380,
        "wires": []
    },
    {
        "id": "eab128e.f4876d8",
        "type": "comment",
        "z": "ca2305ba.3a64f8",
        "name": "Office Lights",
        "info": "",
        "x": 2780,
        "y": 620,
        "wires": []
    },
    {
        "id": "5ea9b65b.7784f8",
        "type": "comment",
        "z": "ca2305ba.3a64f8",
        "name": "Trigger On",
        "info": "",
        "x": 2800,
        "y": 660,
        "wires": []
    },
    {
        "id": "1d99c49c.18f6eb",
        "type": "comment",
        "z": "ca2305ba.3a64f8",
        "name": "Trigger Off",
        "info": "",
        "x": 2800,
        "y": 850,
        "wires": []
    },
    {
        "id": "d0794343.2e111",
        "type": "comment",
        "z": "ca2305ba.3a64f8",
        "name": "List out all Downstairs Lights/Switches",
        "info": "",
        "x": 2830,
        "y": 60,
        "wires": []
    },
    {
        "id": "553a45e6.a1485c",
        "type": "link out",
        "z": "ca2305ba.3a64f8",
        "name": "Turn off Office/HT Lights",
        "links": [
            "26849a1f.654876"
        ],
        "x": 1120,
        "y": 750,
        "wires": [],
        "l": true
    },
    {
        "id": "37b5dfa6.90096",
        "type": "link out",
        "z": "ca2305ba.3a64f8",
        "name": "Turn on Office/HT Lights",
        "links": [
            "2715c85.ae11838"
        ],
        "x": 1120,
        "y": 700,
        "wires": [],
        "l": true
    },
    {
        "id": "2715c85.ae11838",
        "type": "link in",
        "z": "ca2305ba.3a64f8",
        "name": "Turn on Office/HT Lights",
        "links": [
            "37b5dfa6.90096"
        ],
        "x": 2430,
        "y": 240,
        "wires": [
            [
                "82342c76.08e99",
                "2ee6c55d.d59bda",
                "5f3b5d60.30c184",
                "28d9ad08.ed4b22",
                "d9a5bf42.b0d81",
                "c0dbde48.739",
                "5aab6efe.79b3d"
            ]
        ],
        "l": true
    },
    {
        "id": "26849a1f.654876",
        "type": "link in",
        "z": "ca2305ba.3a64f8",
        "name": "Turn off Office/HT Lights",
        "links": [
            "553a45e6.a1485c"
        ],
        "x": 2420,
        "y": 790,
        "wires": [
            [
                "829eec45.96de6",
                "129e69d6.ed5236",
                "438d3261.15de4c",
                "f13f520c.fb519",
                "4753dbed.263004",
                "1c0b1abf.3d9c55",
                "8653e3c9.df975"
            ]
        ],
        "l": true
    },
    {
        "id": "1b6aa296.33df2d",
        "type": "link out",
        "z": "ca2305ba.3a64f8",
        "name": "Turn on Office Lights",
        "links": [
            "94082817.dc5788"
        ],
        "x": 506.9999885559082,
        "y": 1163.999918937683,
        "wires": [],
        "l": true
    },
    {
        "id": "94082817.dc5788",
        "type": "link in",
        "z": "ca2305ba.3a64f8",
        "name": "Turn on Office Lights",
        "links": [
            "1b6aa296.33df2d"
        ],
        "x": 2400,
        "y": 690,
        "wires": [
            [
                "d9a5bf42.b0d81",
                "c0dbde48.739",
                "5aab6efe.79b3d"
            ]
        ],
        "l": true
    },
    {
        "id": "45b5815e.4a6e8",
        "type": "link out",
        "z": "ca2305ba.3a64f8",
        "name": "Turn off Office Lights",
        "links": [
            "1ff8965b.dd41ba"
        ],
        "x": 506.9999885559082,
        "y": 1213.999918937683,
        "wires": [],
        "l": true
    },
    {
        "id": "1ff8965b.dd41ba",
        "type": "link in",
        "z": "ca2305ba.3a64f8",
        "name": "Turn off Office Lights",
        "links": [
            "45b5815e.4a6e8"
        ],
        "x": 2400,
        "y": 900,
        "wires": [
            [
                "4753dbed.263004",
                "1c0b1abf.3d9c55",
                "8653e3c9.df975"
            ]
        ],
        "l": true
    },
    {
        "id": "a9a69829.28b2a8",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "Kitchen Fridge Light Switch",
        "property": "payload.event.scene_data",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "7680",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7860",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7920",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7980",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "8040",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7740",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 670,
        "y": 890,
        "wires": [
            [],
            [
                "21c08113.8eab6e"
            ],
            [],
            [],
            [],
            []
        ],
        "outputLabels": [
            "1x Tap",
            "2x Tap",
            "3x Tap",
            "4x Tap",
            "5x Tap",
            "Long Tap"
        ]
    },
    {
        "id": "21c08113.8eab6e",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "2x Tap",
        "property": "payload.event.scene_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 920,
        "y": 860,
        "wires": [
            [
                "bf7b5656.d71878"
            ],
            [
                "1dd05952.7a5727"
            ]
        ]
    },
    {
        "id": "bf7b5656.d71878",
        "type": "link out",
        "z": "ca2305ba.3a64f8",
        "name": "Turn on all Kitchen Lights",
        "links": [
            "e8931289.5d916"
        ],
        "x": 1120,
        "y": 830,
        "wires": [],
        "l": true
    },
    {
        "id": "1dd05952.7a5727",
        "type": "link out",
        "z": "ca2305ba.3a64f8",
        "name": "Turn off all Kitchen Lights",
        "links": [
            "918392a5.ec51"
        ],
        "x": 1120,
        "y": 880,
        "wires": [],
        "l": true
    },
    {
        "id": "f2034d1f.52406",
        "type": "comment",
        "z": "ca2305ba.3a64f8",
        "name": "Living Room Lights",
        "info": "",
        "x": 2010,
        "y": 630,
        "wires": []
    },
    {
        "id": "7b79b510.d7e13c",
        "type": "comment",
        "z": "ca2305ba.3a64f8",
        "name": "Trigger On",
        "info": "",
        "x": 2010,
        "y": 670,
        "wires": []
    },
    {
        "id": "2038c552.53b21a",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Living Room Tall Lamp On",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.living_room_tall_lamp\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2100,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "194db129.eee25f",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Living Room Short Lamp On",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.living_room_short_lamp\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2100,
        "y": 810,
        "wires": [
            []
        ]
    },
    {
        "id": "49eb6641.ef9f58",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Living Room Fan Light On",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.living_room_fan_light_wall_dimmer_level\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2090,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "89f64d88.4038f",
        "type": "comment",
        "z": "ca2305ba.3a64f8",
        "name": "Trigger Off",
        "info": "",
        "x": 2010,
        "y": 960,
        "wires": []
    },
    {
        "id": "a9b79174.e93c1",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Living Room Tall Lamp Off",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.living_room_tall_lamp\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2100,
        "y": 1050,
        "wires": [
            []
        ]
    },
    {
        "id": "27b3f586.f54f6a",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Living Room Short Lamp Off",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.living_room_short_lamp\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2100,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "36791b71.c3f7f4",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Living Room Fan Light Off",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.living_room_fan_light_wall_dimmer_level\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2090,
        "y": 1150,
        "wires": [
            []
        ]
    },
    {
        "id": "6bc682be.28bbec",
        "type": "comment",
        "z": "ca2305ba.3a64f8",
        "name": "All Lights",
        "info": "",
        "x": 2770,
        "y": 1090,
        "wires": []
    },
    {
        "id": "b90b7514.7f4e88",
        "type": "comment",
        "z": "ca2305ba.3a64f8",
        "name": "Trigger On",
        "info": "",
        "x": 2800,
        "y": 1130,
        "wires": []
    },
    {
        "id": "ca43e431.52b1b8",
        "type": "comment",
        "z": "ca2305ba.3a64f8",
        "name": "List out all Outside Lights",
        "info": "",
        "x": 2790,
        "y": 1050,
        "wires": []
    },
    {
        "id": "5e5bb3d5.d6366c",
        "type": "comment",
        "z": "ca2305ba.3a64f8",
        "name": "Trigger Off",
        "info": "",
        "x": 2810,
        "y": 1480,
        "wires": []
    },
    {
        "id": "8f36a295.1e12d",
        "type": "link out",
        "z": "ca2305ba.3a64f8",
        "name": "Turn on Hut Tub Scene",
        "links": [
            "562ff468.8e249c"
        ],
        "x": 660,
        "y": 1450,
        "wires": [],
        "l": true
    },
    {
        "id": "2ef53439.3cb13c",
        "type": "link out",
        "z": "ca2305ba.3a64f8",
        "name": "Turn off Hot Tub Scene",
        "links": [
            "ab97c066.6aef4"
        ],
        "x": 670,
        "y": 1520,
        "wires": [],
        "l": true
    },
    {
        "id": "ab97c066.6aef4",
        "type": "link in",
        "z": "ca2305ba.3a64f8",
        "name": "Turn off Hut Tub Scene",
        "links": [
            "2ef53439.3cb13c"
        ],
        "x": 2430,
        "y": 1430,
        "wires": [
            [
                "10d3dd4.82b3323",
                "bd62cdc3.6466f",
                "f21bd1e7.99de2"
            ]
        ],
        "l": true
    },
    {
        "id": "562ff468.8e249c",
        "type": "link in",
        "z": "ca2305ba.3a64f8",
        "name": "Turn on Hut Tub Scene",
        "links": [
            "8f36a295.1e12d"
        ],
        "x": 2430,
        "y": 1370,
        "wires": [
            [
                "d4640ca4.3fe68",
                "8ff35f3a.ef114",
                "20334113.f7378e"
            ]
        ],
        "l": true
    },
    {
        "id": "8d856041.3aff5",
        "type": "link out",
        "z": "ca2305ba.3a64f8",
        "name": "Turn off at Dawn",
        "links": [
            "ed671d86.3c607"
        ],
        "x": 580.0000038146973,
        "y": 416.4999717473984,
        "wires": [],
        "l": true
    },
    {
        "id": "20afa414.35affc",
        "type": "link out",
        "z": "ca2305ba.3a64f8",
        "name": "Turn on at Dusk",
        "links": [
            "cb3afe4b.d2e76"
        ],
        "x": 580.0000038146973,
        "y": 366.4999717473984,
        "wires": [],
        "l": true
    },
    {
        "id": "ed671d86.3c607",
        "type": "link in",
        "z": "ca2305ba.3a64f8",
        "name": "Turn off at Dawn",
        "links": [
            "8d856041.3aff5"
        ],
        "x": 1570,
        "y": 1030,
        "wires": [
            [
                "59600ad5.5b1d94",
                "c0daa976.6a2b68"
            ]
        ],
        "l": true
    },
    {
        "id": "cb3afe4b.d2e76",
        "type": "link in",
        "z": "ca2305ba.3a64f8",
        "name": "Turn on at Dusk",
        "links": [
            "20afa414.35affc"
        ],
        "x": 1570,
        "y": 870,
        "wires": [
            [
                "827abe38.5cf82",
                "79c09d64.93f904",
                "d3fd598e.5fd068"
            ]
        ],
        "l": true
    }
]