flows.json
[
    {
        "id": "ca2305ba.3a64f8",
        "type": "tab",
        "label": "Main Home Automation",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b4bd0bcf.c07d88",
        "type": "tab",
        "label": "HA Actions",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2aba4bad.aeba64",
        "type": "tab",
        "label": "HVAC Flows",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a0818eac.0a1ff",
        "type": "tab",
        "label": "Notifications",
        "disabled": false,
        "info": ""
    },
    {
        "id": "770eefce.2dc6a",
        "type": "tab",
        "label": "debug",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d2879bb8.476c48",
        "type": "tab",
        "label": "Scenes",
        "disabled": false,
        "info": ""
    },
    {
        "id": "65b61d5d.d1e1c4",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false,
        "hassio": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true
    },
    {
        "id": "d1254dc8.4173e",
        "type": "telegram bot",
        "z": "",
        "botname": "crzykidd_nodered_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "verboselogging": true
    },
    {
        "id": "cfb6f42b.9f75c8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "384480ed.efa9c",
        "type": "comment",
        "z": "ca2305ba.3a64f8",
        "name": "Server Room Door Events",
        "info": "",
        "x": 240,
        "y": 3540,
        "wires": []
    },
    {
        "id": "a05eb081.368b1",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "Server Room Door Contact",
        "server": "65b61d5d.d1e1c4",
        "entityidfilter": "binary_sensor.server_room_door_sensor",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "habool",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 237,
        "y": 3604,
        "wires": [
            [
                "126eb1f0.60baee"
            ]
        ]
    },
    {
        "id": "126eb1f0.60baee",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "Open/Close",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 468,
        "y": 3607,
        "wires": [
            [
                "89d07e44.bb7ee"
            ],
            [
                "213116c7.f0fa2a"
            ]
        ]
    },
    {
        "id": "213116c7.f0fa2a",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Light Off",
        "server": "65b61d5d.d1e1c4",
        "version": "1",
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.server_room_switch_switch",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 729,
        "y": 3615,
        "wires": [
            []
        ]
    },
    {
        "id": "89d07e44.bb7ee",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Light On",
        "server": "65b61d5d.d1e1c4",
        "version": "1",
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.server_room_switch_switch",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 730,
        "y": 3570,
        "wires": [
            [
                "746d5c74.a077b4"
            ]
        ]
    },
    {
        "id": "9c9d739e.481a3",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Office Google Home",
        "server": "65b61d5d.d1e1c4",
        "version": "1",
        "debugenabled": false,
        "service_domain": "tts",
        "service": "google_say",
        "entityId": "media_player.office_speaker",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1440,
        "y": 4660,
        "wires": [
            [
                "8771c665.1bc5b8"
            ]
        ]
    },
    {
        "id": "4031f858.1e9748",
        "type": "comment",
        "z": "ca2305ba.3a64f8",
        "name": "******************All Door Events******************",
        "info": "adf",
        "x": 307,
        "y": 3495,
        "wires": []
    },
    {
        "id": "42550822.4932c8",
        "type": "function",
        "z": "ca2305ba.3a64f8",
        "name": "Announce Door Closed",
        "func": "if(global.get(\"GoogleTTSDoorStatus\") == 1) {\n    const friendlyName = msg.data.new_state.attributes.friendly_name;\n    node.status({text: friendlyName});\n        return {\n            \"payload\": {\n               \"data\": {\n                   \"message\": friendlyName + \" has been Closed\"\n                } \n        }\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1007,
        "y": 4564,
        "wires": [
            [
                "7e3035e.acfd0cc",
                "702a2083.5b29f",
                "9c9d739e.481a3"
            ]
        ]
    },
    {
        "id": "8c94788.3ba0988",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "Office Slider Door Contact",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "entityidfilter": "binary_sensor.office_slider_sensor",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "habool",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 180,
        "y": 4115,
        "wires": [
            [
                "a2449016.4a104"
            ]
        ]
    },
    {
        "id": "a2449016.4a104",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "Open/Close",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 400,
        "y": 4116,
        "wires": [
            [
                "df229c95.d623e",
                "b5a1a023.6d787"
            ],
            [
                "42550822.4932c8",
                "259af1e2.f0a20e"
            ]
        ]
    },
    {
        "id": "92f147c2.c68e38",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "Door TTS Status",
        "server": "65b61d5d.d1e1c4",
        "entityidfilter": "input_boolean.door_tts_status",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "habool",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 120,
        "y": 580,
        "wires": [
            [
                "d90bf2cf.5706e"
            ]
        ]
    },
    {
        "id": "8771c665.1bc5b8",
        "type": "debug",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1723,
        "y": 4787,
        "wires": []
    },
    {
        "id": "d90bf2cf.5706e",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "on/off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 544,
        "y": 582,
        "wires": [
            [
                "525d514e.12faf"
            ],
            [
                "4aef307b.03584"
            ]
        ]
    },
    {
        "id": "746d5c74.a077b4",
        "type": "debug",
        "z": "ca2305ba.3a64f8",
        "name": "test",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 950,
        "y": 3600,
        "wires": []
    },
    {
        "id": "fb609928.fdd758",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "Backdoor Contact",
        "server": "65b61d5d.d1e1c4",
        "version": 0,
        "entityidfilter": "binary_sensor.backdoor_sensor",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "habool",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 160,
        "y": 4197,
        "wires": [
            [
                "9a9ab806.8c55a8"
            ]
        ]
    },
    {
        "id": "525d514e.12faf",
        "type": "function",
        "z": "ca2305ba.3a64f8",
        "name": "Set Google TTS On",
        "func": "global.set(\"GoogleTTSDoorStatus\", 1)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 766,
        "y": 536,
        "wires": [
            []
        ]
    },
    {
        "id": "df229c95.d623e",
        "type": "function",
        "z": "ca2305ba.3a64f8",
        "name": "Announce Door Open",
        "func": "if(global.get(\"GoogleTTSDoorStatus\") == 1) {\n    const friendlyName = msg.data.new_state.attributes.friendly_name;\n    node.status({text: friendlyName});\n        return {\n            \"payload\": {\n               \"data\": {\n                   \"message\": friendlyName + \" has been Opened\"\n                } \n        }\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1005,
        "y": 4483,
        "wires": [
            [
                "eb645a5b.354298",
                "7e3035e.acfd0cc",
                "702a2083.5b29f",
                "9c9d739e.481a3"
            ]
        ]
    },
    {
        "id": "9a9ab806.8c55a8",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "Open Close",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 407,
        "y": 4195,
        "wires": [
            [
                "df229c95.d623e",
                "b5a1a023.6d787"
            ],
            [
                "42550822.4932c8",
                "259af1e2.f0a20e"
            ]
        ]
    },
    {
        "id": "eb645a5b.354298",
        "type": "debug",
        "z": "ca2305ba.3a64f8",
        "name": "backdoor2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1300,
        "y": 4380,
        "wires": []
    },
    {
        "id": "4aef307b.03584",
        "type": "function",
        "z": "ca2305ba.3a64f8",
        "name": "Set Google TTS Off",
        "func": "global.set(\"GoogleTTSDoorStatus\", 0)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 769,
        "y": 588,
        "wires": [
            []
        ]
    },
    {
        "id": "7e3035e.acfd0cc",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Kitchen Google Home",
        "server": "65b61d5d.d1e1c4",
        "version": "1",
        "debugenabled": false,
        "service_domain": "tts",
        "service": "google_say",
        "entityId": "media_player.kitchen_speaker",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1440,
        "y": 4740,
        "wires": [
            [
                "8771c665.1bc5b8"
            ]
        ]
    },
    {
        "id": "54e0a5ce.7bfacc",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "Kitchen Door Contact",
        "server": "65b61d5d.d1e1c4",
        "entityidfilter": "binary_sensor.kitchen_door_sensor",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "habool",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 170,
        "y": 4284,
        "wires": [
            [
                "facd8e21.69256"
            ]
        ]
    },
    {
        "id": "facd8e21.69256",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "Open Close",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 399,
        "y": 4284,
        "wires": [
            [
                "df229c95.d623e",
                "b5a1a023.6d787"
            ],
            [
                "42550822.4932c8",
                "259af1e2.f0a20e"
            ]
        ]
    },
    {
        "id": "21ad9323.a28e1c",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "Front Door Contact",
        "server": "65b61d5d.d1e1c4",
        "version": "1",
        "entityidfilter": "binary_sensor.front_door_sensor",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "habool",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 160,
        "y": 4361,
        "wires": [
            [
                "a6a18fb5.2d4f6"
            ]
        ]
    },
    {
        "id": "a6a18fb5.2d4f6",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "Open Close",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 399,
        "y": 4361,
        "wires": [
            [
                "df229c95.d623e",
                "b5a1a023.6d787"
            ],
            [
                "42550822.4932c8",
                "259af1e2.f0a20e"
            ]
        ]
    },
    {
        "id": "86610a3f.0305d8",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "Master Bedroom Slider Contact",
        "server": "65b61d5d.d1e1c4",
        "version": "1",
        "entityidfilter": "binary_sensor.master_bedroom_slider_sensor",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "habool",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 200,
        "y": 4441,
        "wires": [
            [
                "9e221147.4e4e2"
            ]
        ]
    },
    {
        "id": "9e221147.4e4e2",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "Open Close",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 441,
        "y": 4441,
        "wires": [
            [
                "df229c95.d623e",
                "b5a1a023.6d787"
            ],
            [
                "42550822.4932c8",
                "259af1e2.f0a20e"
            ]
        ]
    },
    {
        "id": "49dfbb2b.bf2f24",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "Garage Basement Contact",
        "server": "65b61d5d.d1e1c4",
        "entityidfilter": "binary_sensor.garage_basement_door_sensor",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "habool",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 180,
        "y": 4531,
        "wires": [
            [
                "8e70690c.caf858"
            ]
        ]
    },
    {
        "id": "8e70690c.caf858",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "Open Close",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 441,
        "y": 4531,
        "wires": [
            [
                "df229c95.d623e",
                "b5a1a023.6d787"
            ],
            [
                "42550822.4932c8",
                "259af1e2.f0a20e"
            ]
        ]
    },
    {
        "id": "5fb67583.d9170c",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "Tesla Garage Door",
        "server": "65b61d5d.d1e1c4",
        "entityidfilter": "cover.tess",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "habool",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 160,
        "y": 4660,
        "wires": [
            [
                "72c77997.8f9bd8"
            ]
        ]
    },
    {
        "id": "72c77997.8f9bd8",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "Open Close",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 428,
        "y": 4660,
        "wires": [
            [
                "df229c95.d623e",
                "b5a1a023.6d787"
            ],
            [
                "42550822.4932c8",
                "259af1e2.f0a20e"
            ]
        ]
    },
    {
        "id": "5b7a8eec.bbae2",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "S2k Garage Door",
        "server": "65b61d5d.d1e1c4",
        "entityidfilter": "cover.s2000",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "habool",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 150,
        "y": 4598,
        "wires": [
            [
                "807e7b54.06b348"
            ]
        ]
    },
    {
        "id": "807e7b54.06b348",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "Open Close",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 435,
        "y": 4593,
        "wires": [
            [
                "df229c95.d623e",
                "b5a1a023.6d787"
            ],
            [
                "42550822.4932c8",
                "259af1e2.f0a20e"
            ]
        ]
    },
    {
        "id": "702a2083.5b29f",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Master Bedroom mini",
        "server": "65b61d5d.d1e1c4",
        "version": "1",
        "debugenabled": false,
        "service_domain": "tts",
        "service": "google_say",
        "entityId": "media_player.master_bedroom_mini",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1440,
        "y": 4830,
        "wires": [
            [
                "8771c665.1bc5b8"
            ]
        ]
    },
    {
        "id": "7b772eac.3fa28",
        "type": "power-monitor",
        "z": "ca2305ba.3a64f8",
        "name": "Washing Machine",
        "threshold": "5",
        "startafter": "3",
        "stopafter": "4",
        "x": 491.99997329711914,
        "y": 4806.000221610069,
        "wires": [
            [],
            [
                "1497c62f.daf7ba"
            ]
        ]
    },
    {
        "id": "801d32b8.97a43",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "Washing Machine Power",
        "server": "65b61d5d.d1e1c4",
        "entityidfilter": "sensor.s31_washer_power",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 167.99997329711914,
        "y": 4804.000221610069,
        "wires": [
            [
                "7b772eac.3fa28"
            ]
        ]
    },
    {
        "id": "db48e66f.ea2418",
        "type": "power-monitor",
        "z": "ca2305ba.3a64f8",
        "name": "Dryer",
        "threshold": "3",
        "startafter": "4",
        "stopafter": "3",
        "x": 452.9999771118164,
        "y": 4891.0006984472275,
        "wires": [
            [],
            [
                "6243d4b0.8831ec",
                "6d065844.6f8968"
            ]
        ]
    },
    {
        "id": "93f05572.e6f7e8",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "Dryer Power",
        "server": "65b61d5d.d1e1c4",
        "entityidfilter": "sensor.s31_dryer_power",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 126.99997329711914,
        "y": 4880.0002101659775,
        "wires": [
            [
                "db48e66f.ea2418",
                "6243d4b0.8831ec"
            ]
        ]
    },
    {
        "id": "1497c62f.daf7ba",
        "type": "function",
        "z": "ca2305ba.3a64f8",
        "name": "Announce Washer Complete",
        "func": "return {\n    \"payload\": {\n    \"data\": {\n           \"message\": \"Washing Machine is complete\"\n            } \n        }\n    }",
        "outputs": 1,
        "noerr": 0,
        "x": 933,
        "y": 4797,
        "wires": [
            [
                "702a2083.5b29f",
                "9c9d739e.481a3",
                "7e3035e.acfd0cc"
            ]
        ]
    },
    {
        "id": "6d065844.6f8968",
        "type": "function",
        "z": "ca2305ba.3a64f8",
        "name": "Announce Dryer Complete",
        "func": "return {\n    \"payload\": {\n    \"data\": {\n           \"message\": \"The Dryer is complete\"\n            } \n        }\n    }",
        "outputs": 1,
        "noerr": 0,
        "x": 933,
        "y": 4887,
        "wires": [
            [
                "702a2083.5b29f",
                "7e3035e.acfd0cc",
                "9c9d739e.481a3"
            ]
        ]
    },
    {
        "id": "6243d4b0.8831ec",
        "type": "debug",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 400,
        "y": 4970,
        "wires": []
    },
    {
        "id": "80b6fdfc.f155",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "Google TTS Announce Level",
        "server": "65b61d5d.d1e1c4",
        "version": 0,
        "entityidfilter": "input_number.google_tts_announce_level",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 160,
        "y": 420,
        "wires": [
            [
                "fafc0b5b.9e3788"
            ]
        ]
    },
    {
        "id": "fafc0b5b.9e3788",
        "type": "function",
        "z": "ca2305ba.3a64f8",
        "name": "Set Google TTS Announce Level",
        "func": "global.set(\"GoogleTTSAnnounceLevel\", parseFloat (msg.payload))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 489.0142135620117,
        "y": 421.00567054748535,
        "wires": [
            [
                "b827a254.b04de",
                "197454e0.9ae08b",
                "607b74a2.1321fc"
            ]
        ]
    },
    {
        "id": "8984a751.488b38",
        "type": "debug",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1160,
        "y": 470,
        "wires": []
    },
    {
        "id": "b827a254.b04de",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Set Master Bedroom mini",
        "server": "65b61d5d.d1e1c4",
        "version": "1",
        "debugenabled": false,
        "service_domain": "media_player",
        "service": "volume_set",
        "entityId": "media_player.master_bedroom_mini",
        "data": "{\"volume_level\":\"{{payload}}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 893.0141716003418,
        "y": 481.00562286376953,
        "wires": [
            [
                "8984a751.488b38"
            ]
        ]
    },
    {
        "id": "607b74a2.1321fc",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Set Kitchen Mini",
        "server": "65b61d5d.d1e1c4",
        "version": "1",
        "debugenabled": false,
        "service_domain": "media_player",
        "service": "volume_set",
        "entityId": "media_player.kitchen_speaker",
        "data": "{\"volume_level\":\"{{payload}}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 870,
        "y": 370,
        "wires": [
            []
        ]
    },
    {
        "id": "197454e0.9ae08b",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "Set Office Google Home",
        "server": "65b61d5d.d1e1c4",
        "version": "1",
        "debugenabled": false,
        "service_domain": "media_player",
        "service": "volume_set",
        "entityId": "media_player.office_speaker",
        "data": "{\"volume_level\":\"{{payload}}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 893.0142135620117,
        "y": 429.00568199157715,
        "wires": [
            []
        ]
    },
    {
        "id": "9e610cbd.5c3b6",
        "type": "server-events",
        "z": "ca2305ba.3a64f8",
        "name": "Input Zwave Scene activated",
        "server": "65b61d5d.d1e1c4",
        "event_type": "zwave.scene_activated",
        "x": 180,
        "y": 2450,
        "wires": [
            [
                "91268369.61c9a"
            ]
        ]
    },
    {
        "id": "91268369.61c9a",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "Identify switch",
        "property": "payload.event.entity_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "zwave.office_front_lights_switch",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "zwave.kitchen_fridge_light_wall_dimmer",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "zwave.outside_patio_soffit_light_wall_dimmer",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "zwave.living_room_fan_light_wall_dimmer",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "zwave.kitchen_sink_light_dimmer",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "zwave.master_bathroom_light_dimmer",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 440,
        "y": 2450,
        "wires": [
            [
                "b777f775.8c5d28"
            ],
            [
                "a9a69829.28b2a8"
            ],
            [
                "d3139e82.1bc7a"
            ],
            [
                "568960f.c0f50a"
            ],
            [
                "d9b883a1.05716"
            ],
            [
                "d9fa21f8.1f474"
            ]
        ]
    },
    {
        "id": "b777f775.8c5d28",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "Front Office Light Switch",
        "property": "payload.event.scene_data",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "7680",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7860",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7920",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7980",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "8040",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7740",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 690,
        "y": 2370,
        "wires": [
            [
                "9cd67542.246698"
            ],
            [
                "6fe1f9a8.c3ddc8"
            ],
            [],
            [],
            [],
            []
        ],
        "outputLabels": [
            "1x Tap",
            "2x Tap",
            "3x Tap",
            "4x Tap",
            "5x Tap",
            "Long Tap"
        ]
    },
    {
        "id": "6fe1f9a8.c3ddc8",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "2x Tap",
        "property": "payload.event.scene_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1000,
        "y": 2280,
        "wires": [
            [
                "37b5dfa6.90096"
            ],
            [
                "553a45e6.a1485c"
            ]
        ]
    },
    {
        "id": "34f05386.4447fc",
        "type": "comment",
        "z": "ca2305ba.3a64f8",
        "name": "********* Scene Management ********",
        "info": "",
        "x": 200,
        "y": 2270,
        "wires": []
    },
    {
        "id": "553a45e6.a1485c",
        "type": "link out",
        "z": "ca2305ba.3a64f8",
        "name": "Turn off Office/HT Lights",
        "links": [
            "26849a1f.654876",
            "7ee27850.15b358"
        ],
        "x": 1310,
        "y": 2280,
        "wires": [],
        "l": true
    },
    {
        "id": "37b5dfa6.90096",
        "type": "link out",
        "z": "ca2305ba.3a64f8",
        "name": "Turn on Office/HT Lights",
        "links": [
            "2715c85.ae11838",
            "6ebd6391.4bbb3c"
        ],
        "x": 1290,
        "y": 2240,
        "wires": [],
        "l": true
    },
    {
        "id": "1b6aa296.33df2d",
        "type": "link out",
        "z": "ca2305ba.3a64f8",
        "name": "Turn on Back Office Lights",
        "links": [
            "94082817.dc5788",
            "df74d19e.78101"
        ],
        "x": 1150,
        "y": 2160,
        "wires": [],
        "l": true
    },
    {
        "id": "45b5815e.4a6e8",
        "type": "link out",
        "z": "ca2305ba.3a64f8",
        "name": "Turn off Back Office Lights",
        "links": [
            "1ff8965b.dd41ba",
            "ccd8a0da.cfdb4"
        ],
        "x": 1190,
        "y": 2200,
        "wires": [],
        "l": true
    },
    {
        "id": "a9a69829.28b2a8",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "Kitchen Fridge Light Switch",
        "property": "payload.event.scene_data",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "7680",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7860",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7920",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7980",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "8040",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7740",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 700,
        "y": 2480,
        "wires": [
            [],
            [
                "21c08113.8eab6e"
            ],
            [],
            [],
            [],
            []
        ],
        "outputLabels": [
            "1x Tap",
            "2x Tap",
            "3x Tap",
            "4x Tap",
            "5x Tap",
            "Long Tap"
        ]
    },
    {
        "id": "21c08113.8eab6e",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "2x Tap",
        "property": "payload.event.scene_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 950,
        "y": 2460,
        "wires": [
            [
                "bf7b5656.d71878"
            ],
            [
                "1dd05952.7a5727"
            ]
        ]
    },
    {
        "id": "bf7b5656.d71878",
        "type": "link out",
        "z": "ca2305ba.3a64f8",
        "name": "Turn on all Kitchen Lights",
        "links": [
            "e8931289.5d916",
            "77bd43a7.33d76c"
        ],
        "x": 1170,
        "y": 2420,
        "wires": [],
        "l": true
    },
    {
        "id": "1dd05952.7a5727",
        "type": "link out",
        "z": "ca2305ba.3a64f8",
        "name": "Turn off all Kitchen Lights",
        "links": [
            "918392a5.ec51",
            "7d845e34.f1356"
        ],
        "x": 1170,
        "y": 2470,
        "wires": [],
        "l": true
    },
    {
        "id": "9cd67542.246698",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "1x Tap",
        "property": "payload.event.scene_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 940,
        "y": 2240,
        "wires": [
            [
                "1b6aa296.33df2d"
            ],
            [
                "45b5815e.4a6e8"
            ]
        ]
    },
    {
        "id": "d3139e82.1bc7a",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "Outside Patio Soffit Light Switch",
        "property": "payload.event.scene_data",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "7680",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7860",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7920",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7980",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "8040",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7740",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 710,
        "y": 2590,
        "wires": [
            [],
            [
                "3786331d.5c5dac"
            ],
            [],
            [],
            [],
            []
        ],
        "outputLabels": [
            "1x Tap",
            "2x Tap",
            "3x Tap",
            "4x Tap",
            "5x Tap",
            "Long Tap"
        ]
    },
    {
        "id": "3786331d.5c5dac",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "2x Tap",
        "property": "payload.event.scene_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 930,
        "y": 2570,
        "wires": [
            [
                "5c3df371.f41b5c"
            ],
            [
                "c6717f5b.cea47"
            ]
        ]
    },
    {
        "id": "5c3df371.f41b5c",
        "type": "link out",
        "z": "ca2305ba.3a64f8",
        "name": "Turn on Hot Tub Scene",
        "links": [
            "562ff468.8e249c",
            "233ebac9.692876"
        ],
        "x": 1150,
        "y": 2540,
        "wires": [],
        "l": true
    },
    {
        "id": "c6717f5b.cea47",
        "type": "link out",
        "z": "ca2305ba.3a64f8",
        "name": "Turn Off Hot Tub Scene",
        "links": [
            "ab97c066.6aef4",
            "637a1c24.bfa924"
        ],
        "x": 1150,
        "y": 2590,
        "wires": [],
        "l": true
    },
    {
        "id": "568960f.c0f50a",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "Living Room Fan Light",
        "property": "payload.event.scene_data",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "7680",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7860",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7920",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7980",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "8040",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7740",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 680,
        "y": 2700,
        "wires": [
            [],
            [
                "2faf1047.6c9e3"
            ],
            [
                "7dac4c75.a24494"
            ],
            [],
            [],
            []
        ],
        "outputLabels": [
            "1x Tap",
            "2x Tap",
            "3x Tap",
            "4x Tap",
            "5x Tap",
            "Long Tap"
        ]
    },
    {
        "id": "2faf1047.6c9e3",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "2x Tap",
        "property": "payload.event.scene_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 950,
        "y": 2690,
        "wires": [
            [
                "88bdb145.6b871"
            ],
            [
                "a0906a0f.64a0d8"
            ]
        ]
    },
    {
        "id": "88bdb145.6b871",
        "type": "link out",
        "z": "ca2305ba.3a64f8",
        "name": "Turn on Living Room Lamps",
        "links": [
            "17c43b2b.de5695",
            "a85620cc.0278d"
        ],
        "x": 1160,
        "y": 2640,
        "wires": [],
        "l": true
    },
    {
        "id": "a0906a0f.64a0d8",
        "type": "link out",
        "z": "ca2305ba.3a64f8",
        "name": "Turn Off Living Room Lamps",
        "links": [
            "31c719e3.ca4a96",
            "f024aac3.fc53a8"
        ],
        "x": 1210,
        "y": 2690,
        "wires": [],
        "l": true
    },
    {
        "id": "497b2d71.46a164",
        "type": "link out",
        "z": "ca2305ba.3a64f8",
        "name": "Turn on Living Room Fan/lamps",
        "links": [
            "bdfd8902.a6d6c8",
            "3984fec3.a17932"
        ],
        "x": 1500,
        "y": 2740,
        "wires": [],
        "l": true
    },
    {
        "id": "55df3ac6.a5e864",
        "type": "link out",
        "z": "ca2305ba.3a64f8",
        "name": "Turn Off Living Room Fan/lamps",
        "links": [
            "90ee6e74.0fe52",
            "2e4f1dd0.b00b22"
        ],
        "x": 1500,
        "y": 2790,
        "wires": [],
        "l": true
    },
    {
        "id": "7dac4c75.a24494",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "3x Tap",
        "property": "payload.event.scene_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1140,
        "y": 2750,
        "wires": [
            [
                "497b2d71.46a164"
            ],
            [
                "55df3ac6.a5e864"
            ]
        ]
    },
    {
        "id": "d9b883a1.05716",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "Kitchen Sink Light Switch",
        "property": "payload.event.scene_data",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "7680",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7860",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7920",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7980",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "8040",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7740",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 690,
        "y": 2810,
        "wires": [
            [],
            [
                "9f59e383.813a2"
            ],
            [],
            [],
            [],
            []
        ],
        "outputLabels": [
            "1x Tap",
            "2x Tap",
            "3x Tap",
            "4x Tap",
            "5x Tap",
            "Long Tap"
        ]
    },
    {
        "id": "9f59e383.813a2",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "2x Tap",
        "property": "payload.event.scene_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 960,
        "y": 2810,
        "wires": [
            [
                "46515be6.b9d8e4"
            ],
            [
                "3a76ed96.349f62"
            ]
        ]
    },
    {
        "id": "46515be6.b9d8e4",
        "type": "link out",
        "z": "ca2305ba.3a64f8",
        "name": "Turn on Kitchen Cabinet Lights",
        "links": [
            "5c408a79.5a6514",
            "cc5e066f.a722d8"
        ],
        "x": 1500,
        "y": 2840,
        "wires": [],
        "l": true
    },
    {
        "id": "3a76ed96.349f62",
        "type": "link out",
        "z": "ca2305ba.3a64f8",
        "name": "Turn off Kitchen Cabinet Lights",
        "links": [
            "8df752a9.449c2",
            "1bfbfe04.fea962"
        ],
        "x": 1500,
        "y": 2890,
        "wires": [],
        "l": true
    },
    {
        "id": "4d5c5ff3.28b9a",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "Living Room Scone On",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.living_room_sconce\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 970,
        "y": 1050,
        "wires": [
            []
        ]
    },
    {
        "id": "19646d21.5acfc3",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "Stairway Lights On",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.stairs_light_switch_level\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 950,
        "y": 1250,
        "wires": [
            []
        ]
    },
    {
        "id": "654b3663.811218",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "Stairway Lights Off",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.stairs_light_switch_level\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2760,
        "y": 1470,
        "wires": [
            []
        ]
    },
    {
        "id": "6b76242f.470c9c",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "Living Room Scone Off",
        "server": "65b61d5d.d1e1c4",
        "version": "1",
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.living_room_sconce",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 2780,
        "y": 1270,
        "wires": [
            []
        ]
    },
    {
        "id": "c916c06.4c6124",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "Front Lights Off",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.front_house_lights_switch_level\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2790,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "33be18a9.7f08c8",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "Front House Lights On",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.front_house_lights_switch_level\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 970,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "e7b47fb1.4e748",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "Patio Soffit Lights - ON",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "homeassistant",
        "service": "turn_on",
        "data": "{\"entity_id\":[\"light.outside_patio_soffit_light_wall_dimmer_level\"]}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 970,
        "y": 1430,
        "wires": [
            []
        ]
    },
    {
        "id": "ea613c7c.ec017",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "Patio Soffit Lights - OFF",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "homeassistant",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.outside_patio_soffit_light_wall_dimmer_level\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2820,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "10bb803b.cccec",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "Outlet Dimmer Lights - ON",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "homeassistant",
        "service": "turn_on",
        "data": "{\"entity_id\":[\"light.outside_outlet_dimmer_level\"]}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 990,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "b9390e88.0e664",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "Outlet Dimmer Lights - OFF",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "homeassistant",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.outside_outlet_dimmer_level\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2830,
        "y": 1750,
        "wires": [
            []
        ]
    },
    {
        "id": "680f6583.b3703c",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "Patio Sconce Light- ON",
        "server": "65b61d5d.d1e1c4",
        "version": "1",
        "debugenabled": false,
        "service_domain": "homeassistant",
        "service": "turn_on",
        "entityId": "light.outside_patio_sconce_light",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 980,
        "y": 1530,
        "wires": [
            []
        ]
    },
    {
        "id": "cce7be3b.d693b",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "Patio Sconce Light- OFF",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "homeassistant",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.outside_patio_sconce_light\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2820,
        "y": 1650,
        "wires": [
            []
        ]
    },
    {
        "id": "77bd43a7.33d76c",
        "type": "link in",
        "z": "b4bd0bcf.c07d88",
        "name": "Turn on all Kitchen Lights",
        "links": [
            "bf7b5656.d71878"
        ],
        "x": 460,
        "y": 250,
        "wires": [
            [
                "d29774d3.c91278",
                "3a74385c.8bdb28",
                "c50060c0.8f09c",
                "5dc70946.0895c8"
            ]
        ],
        "l": true
    },
    {
        "id": "d29774d3.c91278",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "Kitchen Fridge Light - On",
        "server": "65b61d5d.d1e1c4",
        "version": "1",
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.kitchen_fridge_light_wall_dimmer_level",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 950,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "c50060c0.8f09c",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "Kitchen Deck Door Light - On",
        "server": "65b61d5d.d1e1c4",
        "version": "1",
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.kitchen_deck_door_dimmer_level",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 960,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "3a74385c.8bdb28",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "Kitchen Sink Light - On",
        "server": "65b61d5d.d1e1c4",
        "version": "1",
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.kitchen_sink_light_dimmer_level",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 940,
        "y": 290,
        "wires": [
            []
        ]
    },
    {
        "id": "5dc70946.0895c8",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "Kitchen Table Light - On",
        "server": "65b61d5d.d1e1c4",
        "version": "1",
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.kitchen_table_dimmer_level",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 950,
        "y": 390,
        "wires": [
            []
        ]
    },
    {
        "id": "7d845e34.f1356",
        "type": "link in",
        "z": "b4bd0bcf.c07d88",
        "name": "Turn off all Kitchen Lights",
        "links": [
            "1dd05952.7a5727"
        ],
        "x": 1880,
        "y": 250,
        "wires": [
            [
                "da886df5.bbcd",
                "be4d704c.dd5f5",
                "428887cb.c746e8",
                "a99ea4ab.0cbc18"
            ]
        ],
        "l": true
    },
    {
        "id": "da886df5.bbcd",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "Kitchen Fridge Light - Off",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.kitchen_fridge_light_wall_dimmer_level\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2630,
        "y": 270,
        "wires": [
            []
        ]
    },
    {
        "id": "428887cb.c746e8",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "Kitchen Deck Door Light - Off",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.kitchen_deck_door_dimmer_level\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2640,
        "y": 370,
        "wires": [
            []
        ]
    },
    {
        "id": "be4d704c.dd5f5",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "Kitchen Sink Light - Off",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.kitchen_sink_light_dimmer_level\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2620,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "a99ea4ab.0cbc18",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "Kitchen Table Light - Off",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.kitchen_table_dimmer_level\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2630,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "fa50b9db.0c7d38",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "office back light 1 on",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.office_back_1\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 970,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "52d4c202.e3188c",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "office back light 1 off",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.office_back_1\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2650,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "9701447f.73d698",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "office back light 2 on",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.office_back_2\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 970,
        "y": 910,
        "wires": [
            []
        ]
    },
    {
        "id": "37cdbde4.f8e4e2",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "office back light 2 off",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.office_back_2\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2650,
        "y": 950,
        "wires": [
            []
        ]
    },
    {
        "id": "c62c50cd.fbc62",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "office front light on",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.office_front_lights_switch_level\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 960,
        "y": 810,
        "wires": [
            []
        ]
    },
    {
        "id": "2ac105b7.165faa",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "front office light off",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.office_front_lights_switch_level\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2640,
        "y": 850,
        "wires": [
            []
        ]
    },
    {
        "id": "71ad6b3b.0ee304",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "home theater BL on",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.home_theater_back_left\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 960,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "9b06ff81.3a724",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "home theater FL on",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.home_theater_front_left\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 960,
        "y": 650,
        "wires": [
            []
        ]
    },
    {
        "id": "973d78fb.95f4e8",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "home theater FR on",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.home_theater_front_right\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 970,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "968fdb35.d22508",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "home theater BR on",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.home_theater_back_right\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 970,
        "y": 750,
        "wires": [
            []
        ]
    },
    {
        "id": "df2997bd.573f78",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "home theater BR off",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.home_theater_back_right\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2630,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "ecbbef4a.4e525",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "home theater BL off",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.home_theater_back_left\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2620,
        "y": 590,
        "wires": [
            []
        ]
    },
    {
        "id": "3356ae02.564752",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "home theater FR off",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.home_theater_front_right\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2630,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "48015f30.90e1d",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "home theater FL off",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.home_theater_front_left\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2620,
        "y": 690,
        "wires": [
            []
        ]
    },
    {
        "id": "6ebd6391.4bbb3c",
        "type": "link in",
        "z": "b4bd0bcf.c07d88",
        "name": "Turn on Office/HT Lights",
        "links": [
            "37b5dfa6.90096"
        ],
        "x": 500,
        "y": 630,
        "wires": [
            [
                "973d78fb.95f4e8",
                "9b06ff81.3a724",
                "71ad6b3b.0ee304",
                "968fdb35.d22508",
                "c62c50cd.fbc62",
                "fa50b9db.0c7d38",
                "9701447f.73d698"
            ]
        ],
        "l": true
    },
    {
        "id": "7ee27850.15b358",
        "type": "link in",
        "z": "b4bd0bcf.c07d88",
        "name": "Turn off Office/HT Lights",
        "links": [
            "553a45e6.a1485c"
        ],
        "x": 1920,
        "y": 580,
        "wires": [
            [
                "ecbbef4a.4e525",
                "df2997bd.573f78",
                "48015f30.90e1d",
                "3356ae02.564752",
                "2ac105b7.165faa",
                "52d4c202.e3188c",
                "37cdbde4.f8e4e2"
            ]
        ],
        "l": true
    },
    {
        "id": "df74d19e.78101",
        "type": "link in",
        "z": "b4bd0bcf.c07d88",
        "name": "Turn on Back Office Lights",
        "links": [
            "1b6aa296.33df2d"
        ],
        "x": 500,
        "y": 750,
        "wires": [
            [
                "fa50b9db.0c7d38",
                "9701447f.73d698"
            ]
        ],
        "l": true
    },
    {
        "id": "ccd8a0da.cfdb4",
        "type": "link in",
        "z": "b4bd0bcf.c07d88",
        "name": "Turn off Back Office Lights",
        "links": [
            "45b5815e.4a6e8"
        ],
        "x": 1920,
        "y": 910,
        "wires": [
            [
                "52d4c202.e3188c",
                "37cdbde4.f8e4e2"
            ]
        ],
        "l": true
    },
    {
        "id": "c58f75f6.e258a8",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "Living Room Tall Lamp On",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.living_room_tall_lamp\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 980,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "fcc81b64.1b4828",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "Living Room Short Lamp On",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.living_room_short_lamp\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 980,
        "y": 1150,
        "wires": [
            []
        ]
    },
    {
        "id": "55480ed8.c9b19",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "Living Room Fan Light On",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.living_room_fan_light_wall_dimmer_level\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 970,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "860694e9.8493e8",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "Living Room Tall Lamp Off",
        "server": "65b61d5d.d1e1c4",
        "version": "1",
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.living_room_tall_lamp",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 2790,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "3f19563e.69deba",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "Living Room Short Lamp Off",
        "server": "65b61d5d.d1e1c4",
        "version": "1",
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.living_room_short_lamp",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 2790,
        "y": 1370,
        "wires": [
            []
        ]
    },
    {
        "id": "c0ad50f3.a4eff",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "Living Room Fan Light Off",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.living_room_fan_light_wall_dimmer_level\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2780,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "637a1c24.bfa924",
        "type": "link in",
        "z": "b4bd0bcf.c07d88",
        "name": "Turn off Hot Tub Scene",
        "links": [
            "2ef53439.3cb13c",
            "c6717f5b.cea47",
            "84b65cca.e2d3e"
        ],
        "x": 1790,
        "y": 1720,
        "wires": [
            [
                "cce7be3b.d693b",
                "ea613c7c.ec017",
                "b9390e88.0e664",
                "f0bf8d49.71176"
            ]
        ],
        "l": true
    },
    {
        "id": "233ebac9.692876",
        "type": "link in",
        "z": "b4bd0bcf.c07d88",
        "name": "Turn on Hot Tub Scene",
        "links": [
            "5c3df371.f41b5c",
            "8f36a295.1e12d",
            "950af4ad.897aa8"
        ],
        "x": 580,
        "y": 1650,
        "wires": [
            [
                "e7b47fb1.4e748",
                "10bb803b.cccec",
                "680f6583.b3703c",
                "3d3cac03.b363a4"
            ]
        ],
        "l": true
    },
    {
        "id": "5577022b.1192cc",
        "type": "link in",
        "z": "b4bd0bcf.c07d88",
        "name": "Run at day scene enabled",
        "links": [
            "9b631a53.06af28"
        ],
        "x": 1860,
        "y": 1180,
        "wires": [
            [
                "6b76242f.470c9c",
                "654b3663.811218",
                "c916c06.4c6124"
            ]
        ],
        "l": true
    },
    {
        "id": "6933e03f.8b93f",
        "type": "link in",
        "z": "b4bd0bcf.c07d88",
        "name": "Turn on evening scene",
        "links": [
            "160fc393.ba2a8c",
            "20afa414.35affc",
            "f8a6b334.ae589"
        ],
        "x": 580,
        "y": 1230,
        "wires": [
            [
                "4d5c5ff3.28b9a",
                "19646d21.5acfc3",
                "33be18a9.7f08c8",
                "83f59f68.5262f"
            ]
        ],
        "l": true
    },
    {
        "id": "3d3cac03.b363a4",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "input_boolean.hot_tub_scene on",
        "server": "65b61d5d.d1e1c4",
        "version": "1",
        "debugenabled": false,
        "service_domain": "homeassistant",
        "service": "turn_on",
        "entityId": "input_boolean.hot_tub_scene",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 990,
        "y": 1660,
        "wires": [
            []
        ]
    },
    {
        "id": "f0bf8d49.71176",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "input_boolean.hot_tub_scene off",
        "server": "65b61d5d.d1e1c4",
        "version": "1",
        "debugenabled": false,
        "service_domain": "homeassistant",
        "service": "turn_off",
        "entityId": "input_boolean.hot_tub_scene",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 2840,
        "y": 2040,
        "wires": [
            []
        ]
    },
    {
        "id": "a85620cc.0278d",
        "type": "link in",
        "z": "b4bd0bcf.c07d88",
        "name": "Turn on Living Room Lamps",
        "links": [
            "88bdb145.6b871"
        ],
        "x": 590,
        "y": 1090,
        "wires": [
            [
                "c58f75f6.e258a8",
                "fcc81b64.1b4828"
            ]
        ],
        "l": true
    },
    {
        "id": "3984fec3.a17932",
        "type": "link in",
        "z": "b4bd0bcf.c07d88",
        "name": "Turn on Living Room Fan/lamps",
        "links": [
            "497b2d71.46a164"
        ],
        "x": 600,
        "y": 1140,
        "wires": [
            [
                "c58f75f6.e258a8",
                "fcc81b64.1b4828",
                "55480ed8.c9b19"
            ]
        ],
        "l": true
    },
    {
        "id": "f024aac3.fc53a8",
        "type": "link in",
        "z": "b4bd0bcf.c07d88",
        "name": "Turn off Living Room Lamps",
        "links": [
            "a0906a0f.64a0d8"
        ],
        "x": 2330,
        "y": 1280,
        "wires": [
            [
                "860694e9.8493e8",
                "3f19563e.69deba"
            ]
        ],
        "l": true
    },
    {
        "id": "2e4f1dd0.b00b22",
        "type": "link in",
        "z": "b4bd0bcf.c07d88",
        "name": "Turn off Living Room Fan/lamps",
        "links": [
            "55df3ac6.a5e864"
        ],
        "x": 2330,
        "y": 1330,
        "wires": [
            [
                "c0ad50f3.a4eff",
                "3f19563e.69deba",
                "860694e9.8493e8"
            ]
        ],
        "l": true
    },
    {
        "id": "d5a8a617.b15398",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "Kitchen Cabinet Lights On",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.kitchen_cabinet_lights\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 950,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "cc5e066f.a722d8",
        "type": "link in",
        "z": "b4bd0bcf.c07d88",
        "name": "Turn on Kitchen Cabinet Lights",
        "links": [
            "46515be6.b9d8e4"
        ],
        "x": 480,
        "y": 430,
        "wires": [
            [
                "d5a8a617.b15398"
            ]
        ],
        "l": true
    },
    {
        "id": "1bfbfe04.fea962",
        "type": "link in",
        "z": "b4bd0bcf.c07d88",
        "name": "Turn off Kitchen Cabinet Lights",
        "links": [
            "3a76ed96.349f62"
        ],
        "x": 1900,
        "y": 380,
        "wires": [
            [
                "610d916d.eef81"
            ]
        ],
        "l": true
    },
    {
        "id": "610d916d.eef81",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "Kitchen Cabinet Lights Off",
        "server": "65b61d5d.d1e1c4",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.kitchen_cabinet_lights\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 2630,
        "y": 470,
        "wires": [
            []
        ]
    },
    {
        "id": "450a6015.288b2",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "Master Bath Light - On Dim",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.master_bathroom_light_dimmer_level",
        "data": "{\"brightness_pct\":\"{{brightness}}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 970,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "b74dc7b.e56b238",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "Master Bath Light - Off",
        "server": "65b61d5d.d1e1c4",
        "version": "1",
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.master_bathroom_light_dimmer_level",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 2820,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "e49aa9ff.ff7118",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "MBath Night Dim Level",
        "server": "65b61d5d.d1e1c4",
        "entityidfilter": "input_number.master_bathroom_night_dim_level",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 140,
        "y": 710,
        "wires": [
            [
                "39282e0.11a32d2"
            ]
        ]
    },
    {
        "id": "39282e0.11a32d2",
        "type": "change",
        "z": "ca2305ba.3a64f8",
        "name": "Set MBathNightDimLevel",
        "rules": [
            {
                "t": "set",
                "p": "MBathNightDimLevel",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 710,
        "wires": [
            [
                "a4890716.c8a918"
            ]
        ]
    },
    {
        "id": "d9fa21f8.1f474",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "Master Bathroom Light Switch",
        "property": "payload.event.scene_data",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "7680",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7860",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7920",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7980",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "8040",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7740",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 700,
        "y": 2990,
        "wires": [
            [
                "527ad2c4.57efdc"
            ],
            [
                "1e3190d0.abe58f"
            ],
            [],
            [],
            [],
            []
        ],
        "outputLabels": [
            "1x Tap",
            "2x Tap",
            "3x Tap",
            "4x Tap",
            "5x Tap",
            "Long Tap"
        ]
    },
    {
        "id": "8b3e6e8.087359",
        "type": "link out",
        "z": "ca2305ba.3a64f8",
        "name": "Turn on MBath Dim",
        "links": [
            "13369b9a.ec1d34"
        ],
        "x": 1510,
        "y": 2990,
        "wires": [],
        "l": true
    },
    {
        "id": "1e3190d0.abe58f",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "2x Tap",
        "property": "payload.event.scene_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 960,
        "y": 3020,
        "wires": [
            [
                "fab0b203.6b657"
            ],
            []
        ]
    },
    {
        "id": "60f8e0ea.4423d",
        "type": "debug",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1510,
        "y": 3030,
        "wires": []
    },
    {
        "id": "13369b9a.ec1d34",
        "type": "link in",
        "z": "b4bd0bcf.c07d88",
        "name": "Turn On MBath Dim",
        "links": [
            "8b3e6e8.087359"
        ],
        "x": 570,
        "y": 1750,
        "wires": [
            [
                "450a6015.288b2"
            ]
        ],
        "l": true
    },
    {
        "id": "fab0b203.6b657",
        "type": "change",
        "z": "ca2305ba.3a64f8",
        "name": "Set Brightness MBath Night",
        "rules": [
            {
                "t": "set",
                "p": "brightness",
                "pt": "msg",
                "to": "MBathNightDimLevel",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 3020,
        "wires": [
            [
                "8b3e6e8.087359",
                "60f8e0ea.4423d"
            ]
        ]
    },
    {
        "id": "527ad2c4.57efdc",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "1x Tap",
        "property": "payload.event.scene_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 960,
        "y": 2960,
        "wires": [
            [
                "bfdfa327.ef70f"
            ],
            []
        ]
    },
    {
        "id": "bfdfa327.ef70f",
        "type": "change",
        "z": "ca2305ba.3a64f8",
        "name": "Set Brightness MBath normal",
        "rules": [
            {
                "t": "set",
                "p": "brightness",
                "pt": "msg",
                "to": "MBathNormalDimLevel",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 2960,
        "wires": [
            [
                "8b3e6e8.087359",
                "60f8e0ea.4423d"
            ]
        ]
    },
    {
        "id": "f33334a4.1e4178",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "MBath Normal Dim Level",
        "server": "65b61d5d.d1e1c4",
        "entityidfilter": "input_number.master_bathroom_normal_dim_level",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 150,
        "y": 780,
        "wires": [
            [
                "1d034de2.8be252"
            ]
        ]
    },
    {
        "id": "1d034de2.8be252",
        "type": "change",
        "z": "ca2305ba.3a64f8",
        "name": "Set MBathNightDimLevel",
        "rules": [
            {
                "t": "set",
                "p": "MBathNormalDimLevel",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 780,
        "wires": [
            [
                "a4890716.c8a918"
            ]
        ]
    },
    {
        "id": "a4890716.c8a918",
        "type": "debug",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 860,
        "y": 720,
        "wires": []
    },
    {
        "id": "ce073e5a.3604e",
        "type": "comment",
        "z": "ca2305ba.3a64f8",
        "name": "House Routines",
        "info": "",
        "x": 120,
        "y": 850,
        "wires": []
    },
    {
        "id": "ffb86d67.64cef",
        "type": "comment",
        "z": "ca2305ba.3a64f8",
        "name": "Bathroom Fan Timers",
        "info": "",
        "x": 1650,
        "y": 150,
        "wires": []
    },
    {
        "id": "bb920da4.a5572",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "Upstairs Bathroom Fan turns on",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "entityidfilter": "switch.upstairs_bathroom_fan_switch",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 1700,
        "y": 210,
        "wires": [
            [
                "44dd9f3.282d56"
            ],
            []
        ]
    },
    {
        "id": "f997a1c8.e01a5",
        "type": "debug",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2270,
        "y": 250,
        "wires": []
    },
    {
        "id": "c4f2ee9e.16c26",
        "type": "link out",
        "z": "ca2305ba.3a64f8",
        "name": "Turn off Upstairs Bathroom Fan",
        "links": [
            "3576f310.2b67dc"
        ],
        "x": 2330,
        "y": 300,
        "wires": [],
        "l": true
    },
    {
        "id": "3576f310.2b67dc",
        "type": "link in",
        "z": "b4bd0bcf.c07d88",
        "name": "Turn off upstairs bathroom fan",
        "links": [
            "c4f2ee9e.16c26"
        ],
        "x": 2340,
        "y": 1900,
        "wires": [
            [
                "d1c7e2d.6c08c2"
            ]
        ],
        "l": true
    },
    {
        "id": "d1c7e2d.6c08c2",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "Upstairs Bath Fan - Off",
        "server": "65b61d5d.d1e1c4",
        "version": "1",
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.upstairs_bathroom_fan_switch",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 2830,
        "y": 1910,
        "wires": [
            [
                "43ea8672.210e78"
            ]
        ]
    },
    {
        "id": "43ea8672.210e78",
        "type": "debug",
        "z": "b4bd0bcf.c07d88",
        "name": "Upstairs Bath Fan Off",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 3120,
        "y": 1910,
        "wires": []
    },
    {
        "id": "322b717d.de88ce",
        "type": "function",
        "z": "a0818eac.0a1ff",
        "name": "Telegram Message Builder",
        "func": "var content = msg.notification_txt;\nmsg.payload = {\n    chatId:'-1001291635542',\n    type: \"message\",\n    content:content\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 190,
        "wires": [
            [
                "b3063d42.2c2f1",
                "b78c1440.e5a508"
            ]
        ]
    },
    {
        "id": "b3063d42.2c2f1",
        "type": "telegram sender",
        "z": "a0818eac.0a1ff",
        "name": "",
        "bot": "d1254dc8.4173e",
        "x": 980,
        "y": 170,
        "wires": [
            []
        ]
    },
    {
        "id": "b78c1440.e5a508",
        "type": "debug",
        "z": "a0818eac.0a1ff",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 960,
        "y": 110,
        "wires": []
    },
    {
        "id": "a69a61fd.e1ff7",
        "type": "link in",
        "z": "a0818eac.0a1ff",
        "name": "Recieve Notifications",
        "links": [
            "25b5d13c.596b7e",
            "e0c6d6b.da71b28",
            "d9b8c67c.f38f68",
            "5aaebe8a.76f3e",
            "123e8548.5414db",
            "6e011ed6.fcc35",
            "6e4c68eb.edd718",
            "f7f81bc3.122b68",
            "9087af8.712a35",
            "b77fca4e.664d68",
            "72ef96b6.44b8b8",
            "78da8bbb.d73064",
            "3552e7a6.548188",
            "cbebf2ec.fe3a1"
        ],
        "x": 330,
        "y": 180,
        "wires": [
            [
                "322b717d.de88ce"
            ]
        ],
        "l": true
    },
    {
        "id": "b5a1a023.6d787",
        "type": "function",
        "z": "ca2305ba.3a64f8",
        "name": "Message Door Open",
        "func": "    const friendlyName = msg.data.new_state.attributes.friendly_name;\n    node.status({text: friendlyName});\n    msg.notification_txt=friendlyName + \" has been Opened\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1033,
        "y": 4137,
        "wires": [
            [
                "1fbb17d9.a174f8"
            ]
        ]
    },
    {
        "id": "e0c6d6b.da71b28",
        "type": "link out",
        "z": "ca2305ba.3a64f8",
        "name": "Telegraph Door Action",
        "links": [
            "a69a61fd.e1ff7"
        ],
        "x": 1373,
        "y": 4157,
        "wires": [],
        "l": true
    },
    {
        "id": "1fbb17d9.a174f8",
        "type": "debug",
        "z": "ca2305ba.3a64f8",
        "name": "Backdoor3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1353,
        "y": 4197,
        "wires": []
    },
    {
        "id": "259af1e2.f0a20e",
        "type": "function",
        "z": "ca2305ba.3a64f8",
        "name": "Message Door Closed",
        "func": "    const friendlyName = msg.data.new_state.attributes.friendly_name;\n    node.status({text: friendlyName});\n    msg.notification_txt=friendlyName + \" has been Closed\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1033,
        "y": 4207,
        "wires": [
            [
                "1fbb17d9.a174f8"
            ]
        ]
    },
    {
        "id": "b1494274.533c",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "Front Door Lock Status",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "entityidfilter": "lock.lock_front_door_lock",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 170,
        "y": 3920,
        "wires": [
            [
                "7c703af1.b2cf44"
            ]
        ]
    },
    {
        "id": "7c703af1.b2cf44",
        "type": "debug",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 550,
        "y": 3920,
        "wires": []
    },
    {
        "id": "11e4306.d984ed",
        "type": "comment",
        "z": "a0818eac.0a1ff",
        "name": "Handle Home vs Away status",
        "info": "",
        "x": 230,
        "y": 450,
        "wires": []
    },
    {
        "id": "8e6cdf57.68f47",
        "type": "server-state-changed",
        "z": "a0818eac.0a1ff",
        "name": "clara_status",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "entityidfilter": "person.clara",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 190,
        "y": 700,
        "wires": [
            [
                "a052e758.562fd8"
            ]
        ]
    },
    {
        "id": "b9cbda42.b3d998",
        "type": "server-state-changed",
        "z": "a0818eac.0a1ff",
        "name": "curtis_status",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "entityidfilter": "person.curtis",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 190,
        "y": 640,
        "wires": [
            [
                "a052e758.562fd8"
            ]
        ]
    },
    {
        "id": "c273bdeb.e6d24",
        "type": "server-state-changed",
        "z": "a0818eac.0a1ff",
        "name": "tosha_status",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "entityidfilter": "person.tosha",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 190,
        "y": 580,
        "wires": [
            [
                "a052e758.562fd8"
            ]
        ]
    },
    {
        "id": "a052e758.562fd8",
        "type": "function",
        "z": "a0818eac.0a1ff",
        "name": "Message Get Name",
        "func": "    const friendlyName = msg.data.new_state.attributes.friendly_name;\n    node.status({text: friendlyName});\n    msg.notification_txt=friendlyName + \" is \" + msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 530,
        "wires": [
            [
                "55242792.2dc9f8",
                "322b717d.de88ce"
            ]
        ]
    },
    {
        "id": "c867f7f6.11f908",
        "type": "debug",
        "z": "a0818eac.0a1ff",
        "name": "Home01",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 790,
        "y": 430,
        "wires": []
    },
    {
        "id": "80a765a8.9a76f8",
        "type": "change",
        "z": "a0818eac.0a1ff",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 610,
        "wires": [
            []
        ]
    },
    {
        "id": "3dd61f95.4a9d5",
        "type": "switch",
        "z": "a0818eac.0a1ff",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 480,
        "y": 670,
        "wires": [
            []
        ]
    },
    {
        "id": "55242792.2dc9f8",
        "type": "debug",
        "z": "a0818eac.0a1ff",
        "name": "Home02",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 800,
        "y": 540,
        "wires": []
    },
    {
        "id": "dae32f7d.b6643",
        "type": "function",
        "z": "a0818eac.0a1ff",
        "name": "Message Get Name",
        "func": "    var topic=msg.topic\n    var friendlyName\n    if (topic == \"person.matthew_andersen\") {\n        friendlyName=\"Matthew\";\n        }\n\n    node.status({text: friendlyName});\n    msg.notification_txt=friendlyName + \" is Home\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "6710d34.562e82c",
        "type": "server-state-changed",
        "z": "a0818eac.0a1ff",
        "name": "matthew_status",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "entityidfilter": "person.matthew_andersen",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 190,
        "y": 520,
        "wires": [
            [
                "a052e758.562fd8",
                "c867f7f6.11f908"
            ]
        ]
    },
    {
        "id": "8c4b6d65.23817",
        "type": "server-state-changed",
        "z": "a0818eac.0a1ff",
        "name": "Is house occupied",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "entityidfilter": "binary_sensor.occupancy",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 200,
        "y": 790,
        "wires": [
            [
                "c22f7e61.1ed03",
                "26afcfe7.de9d9"
            ]
        ]
    },
    {
        "id": "c22f7e61.1ed03",
        "type": "debug",
        "z": "a0818eac.0a1ff",
        "name": "Occupancy",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 510,
        "y": 770,
        "wires": []
    },
    {
        "id": "26afcfe7.de9d9",
        "type": "switch",
        "z": "a0818eac.0a1ff",
        "name": "Occupied Switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 860,
        "wires": [
            [
                "ac4d8285.c2035",
                "b288a1dc.b8167"
            ],
            [
                "ac4d8285.c2035",
                "43fdf667.3600e8"
            ]
        ]
    },
    {
        "id": "ac4d8285.c2035",
        "type": "debug",
        "z": "a0818eac.0a1ff",
        "name": "Occupancy on/off",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 790,
        "y": 980,
        "wires": []
    },
    {
        "id": "43fdf667.3600e8",
        "type": "change",
        "z": "a0818eac.0a1ff",
        "name": "Set HomeOccupancy false",
        "rules": [
            {
                "t": "set",
                "p": "HomeOccupancy",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 870,
        "wires": [
            [
                "5d60c4c3.730f1c"
            ]
        ]
    },
    {
        "id": "b288a1dc.b8167",
        "type": "change",
        "z": "a0818eac.0a1ff",
        "name": "Set HomeOccupancy true",
        "rules": [
            {
                "t": "set",
                "p": "HomeOccupancy",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 810,
        "wires": [
            [
                "5d60c4c3.730f1c"
            ]
        ]
    },
    {
        "id": "5d60c4c3.730f1c",
        "type": "debug",
        "z": "a0818eac.0a1ff",
        "name": "Occupancy true/false",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1170,
        "y": 840,
        "wires": []
    },
    {
        "id": "81f39c19.81b2a",
        "type": "comment",
        "z": "ca2305ba.3a64f8",
        "name": "Check if HA has been restarted",
        "info": "",
        "x": 170,
        "y": 50,
        "wires": []
    },
    {
        "id": "31cfde69.422892",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "Get restart status",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "entityidfilter": "input_boolean.ha_restarted",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "habool",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 120,
        "y": 110,
        "wires": [
            [
                "2ca1d40a.792a6c"
            ]
        ]
    },
    {
        "id": "6b09df46.1a4b",
        "type": "debug",
        "z": "ca2305ba.3a64f8",
        "name": "RestartStatus01",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 600,
        "y": 100,
        "wires": []
    },
    {
        "id": "2ca1d40a.792a6c",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "Check if True",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 120,
        "wires": [
            [
                "6b09df46.1a4b"
            ]
        ]
    },
    {
        "id": "4ecd4987.adf838",
        "type": "comment",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "info": "",
        "x": 420,
        "y": 50,
        "wires": []
    },
    {
        "id": "83f59f68.5262f",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "Christmas Lights - ON",
        "server": "65b61d5d.d1e1c4",
        "version": "1",
        "debugenabled": false,
        "service_domain": "homeassistant",
        "service": "turn_on",
        "entityId": "switch.outside_christmas_lights_wall_switch_switch",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 970,
        "y": 1570,
        "wires": [
            []
        ]
    },
    {
        "id": "1cf064b5.bd4edb",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "Christmas Lights - OFF",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "debugenabled": false,
        "service_domain": "homeassistant",
        "service": "turn_off",
        "entityId": "switch.outside_christmas_lights_wall_switch_switch",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 2820,
        "y": 1800,
        "wires": [
            []
        ]
    },
    {
        "id": "39b25a59.f7c0f6",
        "type": "link in",
        "z": "b4bd0bcf.c07d88",
        "name": "Run at night scene enabled",
        "links": [
            "eefa5d5c.57057"
        ],
        "x": 1890,
        "y": 1450,
        "wires": [
            [
                "1cf064b5.bd4edb",
                "b74dc7b.e56b238",
                "654b3663.811218",
                "c0ad50f3.a4eff",
                "3f19563e.69deba",
                "860694e9.8493e8",
                "37cdbde4.f8e4e2"
            ]
        ],
        "l": true
    },
    {
        "id": "1ecce0b4.e2fc1f",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "entityidfilter": "input_datetime.start_morning",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 200,
        "y": 1280,
        "wires": [
            [
                "5b8ceb9.2419414",
                "1f277a03.2e0806",
                "ad43838e.0509"
            ]
        ]
    },
    {
        "id": "5b8ceb9.2419414",
        "type": "debug",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 550,
        "y": 1260,
        "wires": []
    },
    {
        "id": "44db40a0.7fd48",
        "type": "schedex",
        "z": "ca2305ba.3a64f8",
        "name": "Morning Scene Schedule",
        "suspended": false,
        "lat": "",
        "lon": "",
        "ontime": "05:30:00",
        "ontopic": "morning_enabled",
        "onpayload": "on",
        "onoffset": 0,
        "onrandomoffset": 0,
        "offtime": "09:30:00",
        "offtopic": "morning_enabled",
        "offpayload": "off",
        "offoffset": 0,
        "offrandomoffset": 0,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "sun": true,
        "x": 850,
        "y": 1270,
        "wires": [
            [
                "6b8ccac7.2e7b84"
            ]
        ]
    },
    {
        "id": "1f277a03.2e0806",
        "type": "change",
        "z": "ca2305ba.3a64f8",
        "name": "Set Time on Override",
        "rules": [
            {
                "t": "set",
                "p": "ontime",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.ontime",
                "pt": "msg",
                "to": "ontime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1300,
        "wires": [
            [
                "44db40a0.7fd48",
                "52956e9b.aa08c"
            ]
        ]
    },
    {
        "id": "52956e9b.aa08c",
        "type": "debug",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 790,
        "y": 1330,
        "wires": []
    },
    {
        "id": "6b8ccac7.2e7b84",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1100,
        "y": 1260,
        "wires": [
            [
                "a4032f27.6330a",
                "10cd39d2.d7f2f6"
            ],
            []
        ]
    },
    {
        "id": "a4032f27.6330a",
        "type": "debug",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1280,
        "y": 1230,
        "wires": []
    },
    {
        "id": "10cd39d2.d7f2f6",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_select",
        "service": "select_option",
        "entityId": "input_select.house_mode",
        "data": "{\"option\":\"Morning\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1350,
        "y": 1270,
        "wires": [
            [
                "4ff9154b.9d96cc"
            ]
        ]
    },
    {
        "id": "c4c6a5c1.a75278",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "entityidfilter": "input_datetime.start_day",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 180,
        "y": 1430,
        "wires": [
            [
                "a47e3874.c5ce28",
                "c3509e71.f486b",
                "1015b6ae.290509"
            ]
        ]
    },
    {
        "id": "a47e3874.c5ce28",
        "type": "debug",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 530,
        "y": 1460,
        "wires": []
    },
    {
        "id": "5ff5307f.3b464",
        "type": "schedex",
        "z": "ca2305ba.3a64f8",
        "name": "Day Scene Schedule",
        "suspended": false,
        "lat": "",
        "lon": "",
        "ontime": "09:00",
        "ontopic": "day_enabled",
        "onpayload": "on",
        "onoffset": 0,
        "onrandomoffset": 0,
        "offtime": "17:00:00",
        "offtopic": "day_enabled",
        "offpayload": "off",
        "offoffset": 0,
        "offrandomoffset": 0,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "sun": true,
        "x": 830,
        "y": 1420,
        "wires": [
            [
                "d24c054.6a007f8"
            ]
        ]
    },
    {
        "id": "c3509e71.f486b",
        "type": "change",
        "z": "ca2305ba.3a64f8",
        "name": "Set Time on Override",
        "rules": [
            {
                "t": "set",
                "p": "ontime",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.ontime",
                "pt": "msg",
                "to": "ontime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 1500,
        "wires": [
            [
                "5ff5307f.3b464",
                "e7cfdef6.ecad5"
            ]
        ]
    },
    {
        "id": "e7cfdef6.ecad5",
        "type": "debug",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 780,
        "y": 1480,
        "wires": []
    },
    {
        "id": "d24c054.6a007f8",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1090,
        "y": 1410,
        "wires": [
            [
                "714aab37.d23714",
                "a20001bd.3aa9e"
            ],
            []
        ]
    },
    {
        "id": "714aab37.d23714",
        "type": "debug",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1270,
        "y": 1380,
        "wires": []
    },
    {
        "id": "a20001bd.3aa9e",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_select",
        "service": "select_option",
        "entityId": "input_select.house_mode",
        "data": "{\"option\":\"Day\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1340,
        "y": 1420,
        "wires": [
            [
                "d4c451a2.7a4a3"
            ]
        ]
    },
    {
        "id": "1015b6ae.290509",
        "type": "change",
        "z": "ca2305ba.3a64f8",
        "name": "Set Time off Override",
        "rules": [
            {
                "t": "set",
                "p": "offtime",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.offtime",
                "pt": "msg",
                "to": "offtime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 1400,
        "wires": [
            [
                "44db40a0.7fd48"
            ]
        ]
    },
    {
        "id": "37f0d58a.ae40ba",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "entityidfilter": "input_datetime.start_evening",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 190,
        "y": 1590,
        "wires": [
            [
                "9ab46a2.ec42298",
                "33556f47.76ffa",
                "e110f417.fe8b28"
            ]
        ]
    },
    {
        "id": "9ab46a2.ec42298",
        "type": "debug",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 540,
        "y": 1620,
        "wires": []
    },
    {
        "id": "99ab4b50.47e348",
        "type": "schedex",
        "z": "ca2305ba.3a64f8",
        "name": "Evening Scene Schedule",
        "suspended": false,
        "lat": "",
        "lon": "",
        "ontime": "17:00",
        "ontopic": "evening_enabled",
        "onpayload": "on",
        "onoffset": 0,
        "onrandomoffset": 0,
        "offtime": "23:30",
        "offtopic": "evening_enabled",
        "offpayload": "off",
        "offoffset": 0,
        "offrandomoffset": 0,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "sun": true,
        "x": 850,
        "y": 1580,
        "wires": [
            [
                "c131c94c.a042f8"
            ]
        ]
    },
    {
        "id": "33556f47.76ffa",
        "type": "change",
        "z": "ca2305ba.3a64f8",
        "name": "Set Time on Override",
        "rules": [
            {
                "t": "set",
                "p": "ontime",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.ontime",
                "pt": "msg",
                "to": "ontime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1660,
        "wires": [
            [
                "99ab4b50.47e348",
                "54542ffe.0068d"
            ]
        ]
    },
    {
        "id": "54542ffe.0068d",
        "type": "debug",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 790,
        "y": 1640,
        "wires": []
    },
    {
        "id": "c131c94c.a042f8",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1100,
        "y": 1570,
        "wires": [
            [
                "1f60fd14.eb4143",
                "f59fb257.a8329"
            ],
            []
        ]
    },
    {
        "id": "1f60fd14.eb4143",
        "type": "debug",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1280,
        "y": 1540,
        "wires": []
    },
    {
        "id": "f59fb257.a8329",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_select",
        "service": "select_option",
        "entityId": "input_select.house_mode",
        "data": "{\"option\":\"Evening\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1350,
        "y": 1580,
        "wires": [
            [
                "d47a1fd6.72305"
            ]
        ]
    },
    {
        "id": "e110f417.fe8b28",
        "type": "change",
        "z": "ca2305ba.3a64f8",
        "name": "Set Time off Override",
        "rules": [
            {
                "t": "set",
                "p": "offtime",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.offtime",
                "pt": "msg",
                "to": "offtime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 1560,
        "wires": [
            [
                "5ff5307f.3b464"
            ]
        ]
    },
    {
        "id": "7a534908.9acfd8",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "entityidfilter": "input_datetime.start_night",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 180,
        "y": 1740,
        "wires": [
            [
                "56a0920f.91bd0c",
                "d3f42393.4718c",
                "63c5c208.8754ec"
            ]
        ]
    },
    {
        "id": "56a0920f.91bd0c",
        "type": "debug",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 540,
        "y": 1770,
        "wires": []
    },
    {
        "id": "4cd93ac1.091614",
        "type": "schedex",
        "z": "ca2305ba.3a64f8",
        "name": "Night Scene Schedule",
        "suspended": false,
        "lat": "",
        "lon": "",
        "ontime": "23:30",
        "ontopic": "night_enabled",
        "onpayload": "on",
        "onoffset": 0,
        "onrandomoffset": 0,
        "offtime": "05:00",
        "offtopic": "night_enabled",
        "offpayload": "off",
        "offoffset": 0,
        "offrandomoffset": 0,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "sun": true,
        "x": 840,
        "y": 1730,
        "wires": [
            [
                "2b9a2fd4.51ca6"
            ]
        ]
    },
    {
        "id": "d3f42393.4718c",
        "type": "change",
        "z": "ca2305ba.3a64f8",
        "name": "Set Time on Override",
        "rules": [
            {
                "t": "set",
                "p": "ontime",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.ontime",
                "pt": "msg",
                "to": "ontime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1810,
        "wires": [
            [
                "4cd93ac1.091614",
                "11d0df1e.e942f1"
            ]
        ]
    },
    {
        "id": "11d0df1e.e942f1",
        "type": "debug",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 790,
        "y": 1790,
        "wires": []
    },
    {
        "id": "2b9a2fd4.51ca6",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1100,
        "y": 1720,
        "wires": [
            [
                "c695abf9.f7f688",
                "a6a5d497.ada638"
            ],
            []
        ]
    },
    {
        "id": "c695abf9.f7f688",
        "type": "debug",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1260,
        "y": 1690,
        "wires": []
    },
    {
        "id": "a6a5d497.ada638",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_select",
        "service": "select_option",
        "entityId": "input_select.house_mode",
        "data": "{\"option\":\"Night\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1350,
        "y": 1730,
        "wires": [
            [
                "f2cc862e.224718"
            ]
        ]
    },
    {
        "id": "63c5c208.8754ec",
        "type": "change",
        "z": "ca2305ba.3a64f8",
        "name": "Set Time off Override",
        "rules": [
            {
                "t": "set",
                "p": "offtime",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.offtime",
                "pt": "msg",
                "to": "offtime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 1710,
        "wires": [
            [
                "99ab4b50.47e348"
            ]
        ]
    },
    {
        "id": "ad43838e.0509",
        "type": "change",
        "z": "ca2305ba.3a64f8",
        "name": "Set Time off Override",
        "rules": [
            {
                "t": "set",
                "p": "offtime",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.offtime",
                "pt": "msg",
                "to": "offtime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1220,
        "wires": [
            [
                "4cd93ac1.091614"
            ]
        ]
    },
    {
        "id": "4ff9154b.9d96cc",
        "type": "change",
        "z": "ca2305ba.3a64f8",
        "name": "Telegram Morning",
        "rules": [
            {
                "t": "set",
                "p": "notification_txt",
                "pt": "msg",
                "to": "Morning Scene Enabled",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1630,
        "y": 1260,
        "wires": [
            [
                "d9b8c67c.f38f68"
            ]
        ]
    },
    {
        "id": "d9b8c67c.f38f68",
        "type": "link out",
        "z": "ca2305ba.3a64f8",
        "name": "Notify Morning Scene",
        "links": [
            "a69a61fd.e1ff7"
        ],
        "x": 1795,
        "y": 1260,
        "wires": []
    },
    {
        "id": "d4c451a2.7a4a3",
        "type": "change",
        "z": "ca2305ba.3a64f8",
        "name": "Telegram Day",
        "rules": [
            {
                "t": "set",
                "p": "notification_txt",
                "pt": "msg",
                "to": "Day Scene Enabled",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1630,
        "y": 1420,
        "wires": [
            [
                "5aaebe8a.76f3e"
            ]
        ]
    },
    {
        "id": "5aaebe8a.76f3e",
        "type": "link out",
        "z": "ca2305ba.3a64f8",
        "name": "Notify Morning Scene",
        "links": [
            "a69a61fd.e1ff7"
        ],
        "x": 1805,
        "y": 1420,
        "wires": []
    },
    {
        "id": "d47a1fd6.72305",
        "type": "change",
        "z": "ca2305ba.3a64f8",
        "name": "Telegram Evening",
        "rules": [
            {
                "t": "set",
                "p": "notification_txt",
                "pt": "msg",
                "to": "Evening Scene Enabled",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1630,
        "y": 1580,
        "wires": [
            [
                "123e8548.5414db"
            ]
        ]
    },
    {
        "id": "123e8548.5414db",
        "type": "link out",
        "z": "ca2305ba.3a64f8",
        "name": "Notify Morning Scene",
        "links": [
            "a69a61fd.e1ff7"
        ],
        "x": 1795,
        "y": 1580,
        "wires": []
    },
    {
        "id": "f2cc862e.224718",
        "type": "change",
        "z": "ca2305ba.3a64f8",
        "name": "Telegram Night",
        "rules": [
            {
                "t": "set",
                "p": "notification_txt",
                "pt": "msg",
                "to": "Night Scene Enabled",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1640,
        "y": 1730,
        "wires": [
            [
                "6e011ed6.fcc35"
            ]
        ]
    },
    {
        "id": "6e011ed6.fcc35",
        "type": "link out",
        "z": "ca2305ba.3a64f8",
        "name": "Notify Morning Scene",
        "links": [
            "a69a61fd.e1ff7"
        ],
        "x": 1815,
        "y": 1730,
        "wires": []
    },
    {
        "id": "814db14.f8b0f5",
        "type": "server-state-changed",
        "z": "770eefce.2dc6a",
        "name": "",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "entityidfilter": "binary_sensor.garage_multisensor_sensor",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "habool",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 280,
        "y": 210,
        "wires": [
            [
                "fa4d71c1.3fae8",
                "bf69ccc8.cd2a5"
            ]
        ]
    },
    {
        "id": "fa4d71c1.3fae8",
        "type": "debug",
        "z": "770eefce.2dc6a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 910,
        "y": 200,
        "wires": []
    },
    {
        "id": "bf69ccc8.cd2a5",
        "type": "switch",
        "z": "770eefce.2dc6a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 170,
        "y": 370,
        "wires": [
            [
                "9ad9d480.244a48",
                "c5b5e855.e2ac58",
                "fa4d71c1.3fae8"
            ],
            []
        ]
    },
    {
        "id": "75b87aa0.9b2954",
        "type": "api-call-service",
        "z": "770eefce.2dc6a",
        "name": "OFF",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.garage_light_switch",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 810,
        "y": 470,
        "wires": [
            []
        ]
    },
    {
        "id": "c5b5e855.e2ac58",
        "type": "api-call-service",
        "z": "770eefce.2dc6a",
        "name": "ON",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.garage_light_switch",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 970,
        "y": 350,
        "wires": [
            []
        ]
    },
    {
        "id": "2f159696.78f5ea",
        "type": "api-current-state",
        "z": "770eefce.2dc6a",
        "name": "Still Motion?",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "binary_sensor.garage_multisensor_sensor",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 610,
        "y": 450,
        "wires": [
            [],
            [
                "75b87aa0.9b2954"
            ]
        ]
    },
    {
        "id": "9ad9d480.244a48",
        "type": "stoptimer",
        "z": "770eefce.2dc6a",
        "duration": "5",
        "units": "Minute",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "5 Min wait",
        "x": 410,
        "y": 410,
        "wires": [
            [
                "2f159696.78f5ea"
            ],
            []
        ]
    },
    {
        "id": "44dd9f3.282d56",
        "type": "stoptimer",
        "z": "ca2305ba.3a64f8",
        "duration": "20",
        "units": "Minute",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "",
        "x": 2060,
        "y": 210,
        "wires": [
            [
                "7312410d.83062"
            ],
            []
        ]
    },
    {
        "id": "7312410d.83062",
        "type": "api-current-state",
        "z": "ca2305ba.3a64f8",
        "name": "Is light on?",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "light.upstairs_bathroom_light_dimmer",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 1990,
        "y": 280,
        "wires": [
            [
                "44dd9f3.282d56",
                "f997a1c8.e01a5"
            ],
            [
                "c4f2ee9e.16c26"
            ]
        ]
    },
    {
        "id": "90670535.20c398",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "Master Bath Fan Turns on",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "switch.masterbath_fan_switch",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 1680,
        "y": 360,
        "wires": [
            [
                "53dc52.0a65d3b"
            ],
            []
        ]
    },
    {
        "id": "f6f6f9a6.f12b68",
        "type": "debug",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2270,
        "y": 400,
        "wires": []
    },
    {
        "id": "de206d71.8524b",
        "type": "link out",
        "z": "ca2305ba.3a64f8",
        "name": "Turn off Master Bath Fan",
        "links": [
            "b7a71695.ba8ab8"
        ],
        "x": 2310,
        "y": 450,
        "wires": [],
        "l": true
    },
    {
        "id": "53dc52.0a65d3b",
        "type": "stoptimer",
        "z": "ca2305ba.3a64f8",
        "duration": "20",
        "units": "Minute",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "",
        "x": 2060,
        "y": 360,
        "wires": [
            [
                "3fe5dbc.1708e24"
            ],
            []
        ]
    },
    {
        "id": "3fe5dbc.1708e24",
        "type": "api-current-state",
        "z": "ca2305ba.3a64f8",
        "name": "Is light on?",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "light.master_bathroom_light_dimmer_level",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 1990,
        "y": 430,
        "wires": [
            [
                "53dc52.0a65d3b",
                "f6f6f9a6.f12b68"
            ],
            [
                "de206d71.8524b"
            ]
        ]
    },
    {
        "id": "b7a71695.ba8ab8",
        "type": "link in",
        "z": "b4bd0bcf.c07d88",
        "name": "Turn off master bath fan",
        "links": [
            "de206d71.8524b"
        ],
        "x": 2350,
        "y": 1980,
        "wires": [
            [
                "e0f8e26b.d7001"
            ]
        ],
        "l": true
    },
    {
        "id": "e0f8e26b.d7001",
        "type": "api-call-service",
        "z": "b4bd0bcf.c07d88",
        "name": "Upstairs Bath Fan - Off",
        "server": "65b61d5d.d1e1c4",
        "version": "1",
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.upstairs_bathroom_fan_switch",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 2830,
        "y": 1990,
        "wires": [
            [
                "afe3fdf1.c8613"
            ]
        ]
    },
    {
        "id": "afe3fdf1.c8613",
        "type": "debug",
        "z": "b4bd0bcf.c07d88",
        "name": "Upstairs Bath Fan Off",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 3120,
        "y": 1990,
        "wires": []
    },
    {
        "id": "eb52751a.6e7f98",
        "type": "debug",
        "z": "d2879bb8.476c48",
        "name": "HotwaterPump test 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 920,
        "y": 50,
        "wires": []
    },
    {
        "id": "96f1a21a.7173d",
        "type": "api-call-service",
        "z": "d2879bb8.476c48",
        "name": "HotWaterCirc Pump On",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.s31_hotwatercirc",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 610,
        "y": 80,
        "wires": [
            [
                "eb52751a.6e7f98"
            ]
        ]
    },
    {
        "id": "653eab07.6c65e4",
        "type": "api-call-service",
        "z": "d2879bb8.476c48",
        "name": "HotWaterCirc Pump Off",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.s31_hotwatercirc",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 580,
        "y": 620,
        "wires": [
            [
                "d02bdfe.8e9772"
            ]
        ]
    },
    {
        "id": "d02bdfe.8e9772",
        "type": "debug",
        "z": "d2879bb8.476c48",
        "name": "HotwaterPump off",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1030,
        "y": 520,
        "wires": []
    },
    {
        "id": "508583a.69a437c",
        "type": "api-current-state",
        "z": "d2879bb8.476c48",
        "name": "Is Front Door Locked",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "outputs": 2,
        "halt_if": "locked",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "lock.lock_front_door_lock",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 570,
        "y": 680,
        "wires": [
            [],
            [
                "2e4e7199.d8d47e",
                "276739f4.7fb986",
                "acdd801e.f99ff"
            ]
        ]
    },
    {
        "id": "2e4e7199.d8d47e",
        "type": "debug",
        "z": "d2879bb8.476c48",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1020,
        "y": 560,
        "wires": []
    },
    {
        "id": "276739f4.7fb986",
        "type": "api-call-service",
        "z": "d2879bb8.476c48",
        "name": "Lock Front Door",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "debugenabled": false,
        "service_domain": "lock",
        "service": "lock",
        "entityId": "lock.lock_front_door_lock",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 860,
        "y": 670,
        "wires": [
            [
                "acdd801e.f99ff",
                "84e9d6b5.430eb8"
            ]
        ]
    },
    {
        "id": "84e9d6b5.430eb8",
        "type": "function",
        "z": "d2879bb8.476c48",
        "name": "Message Door Locked",
        "func": "    msg.notification_txt=\"Front Door Has Been Locked\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1120,
        "y": 670,
        "wires": [
            [
                "72ef96b6.44b8b8"
            ]
        ]
    },
    {
        "id": "acdd801e.f99ff",
        "type": "debug",
        "z": "d2879bb8.476c48",
        "name": "Lock Door",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1020,
        "y": 600,
        "wires": []
    },
    {
        "id": "72ef96b6.44b8b8",
        "type": "link out",
        "z": "d2879bb8.476c48",
        "name": "Sent Telegram",
        "links": [
            "a69a61fd.e1ff7"
        ],
        "x": 1370,
        "y": 670,
        "wires": [],
        "l": true
    },
    {
        "id": "f84f4a4d.021878",
        "type": "api-current-state",
        "z": "d2879bb8.476c48",
        "name": "Is Tesla Garage door open",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "outputs": 2,
        "halt_if": "open",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "cover.tess_2",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 590,
        "y": 740,
        "wires": [
            [
                "2e4e7199.d8d47e",
                "e1eaf2d6.b2eb9"
            ],
            []
        ]
    },
    {
        "id": "e1eaf2d6.b2eb9",
        "type": "api-call-service",
        "z": "d2879bb8.476c48",
        "name": "Close Tesla Door",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "debugenabled": false,
        "service_domain": "cover",
        "service": "close_cover",
        "entityId": "cover.tess_2",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 860,
        "y": 740,
        "wires": [
            [
                "acdd801e.f99ff",
                "44982ebb.369d6"
            ]
        ]
    },
    {
        "id": "44982ebb.369d6",
        "type": "function",
        "z": "d2879bb8.476c48",
        "name": "Message Tesla Garge Closed",
        "func": "    msg.notification_txt=\"Tess Garage door has been closed\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1140,
        "y": 730,
        "wires": [
            [
                "78da8bbb.d73064"
            ]
        ]
    },
    {
        "id": "78da8bbb.d73064",
        "type": "link out",
        "z": "d2879bb8.476c48",
        "name": "Sent Telegram",
        "links": [
            "a69a61fd.e1ff7"
        ],
        "x": 1380,
        "y": 730,
        "wires": [],
        "l": true
    },
    {
        "id": "a623a6d.36a0658",
        "type": "api-current-state",
        "z": "d2879bb8.476c48",
        "name": "Is S2kGarage door open",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "outputs": 2,
        "halt_if": "open",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "cover.s2000_2",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 580,
        "y": 800,
        "wires": [
            [
                "2e4e7199.d8d47e",
                "bfcde99b.2af438"
            ],
            []
        ]
    },
    {
        "id": "bfcde99b.2af438",
        "type": "api-call-service",
        "z": "d2879bb8.476c48",
        "name": "Close Tesla Door",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "debugenabled": false,
        "service_domain": "cover",
        "service": "close_cover",
        "entityId": "cover.s2000_2",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 850,
        "y": 800,
        "wires": [
            [
                "acdd801e.f99ff",
                "585b97dc.8fe208"
            ]
        ]
    },
    {
        "id": "585b97dc.8fe208",
        "type": "function",
        "z": "d2879bb8.476c48",
        "name": "Message S2k Garge Closed",
        "func": "    msg.notification_txt=\"S2k Garage door has been closed\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1160,
        "y": 800,
        "wires": [
            [
                "3552e7a6.548188"
            ]
        ]
    },
    {
        "id": "3552e7a6.548188",
        "type": "link out",
        "z": "d2879bb8.476c48",
        "name": "Sent Telegram",
        "links": [
            "a69a61fd.e1ff7"
        ],
        "x": 1380,
        "y": 810,
        "wires": [],
        "l": true
    },
    {
        "id": "e828130a.5a83e",
        "type": "api-call-service",
        "z": "d2879bb8.476c48",
        "name": "Turn off livingroom fireplace",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "debugenabled": false,
        "service_domain": "climate",
        "service": "set_hvac_mode",
        "entityId": "climate.living_room_thermostat_mode",
        "data": "{\"hvac_mode\":\"off\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 590,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "a32adaf.863c528",
        "type": "api-call-service",
        "z": "d2879bb8.476c48",
        "name": "Turn off office fireplace",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "debugenabled": false,
        "service_domain": "climate",
        "service": "set_hvac_mode",
        "entityId": "climate.office_fireplace_thermostat_mode",
        "data": "{\"hvac_mode\":\"off\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 570,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "b7bc12ab.95fdf",
        "type": "change",
        "z": "d2879bb8.476c48",
        "name": "Fireplaces Turned Off",
        "rules": [
            {
                "t": "set",
                "p": "notification_txt",
                "pt": "msg",
                "to": "Fireplaces turned Off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 860,
        "wires": [
            [
                "cbebf2ec.fe3a1"
            ]
        ]
    },
    {
        "id": "cbebf2ec.fe3a1",
        "type": "link out",
        "z": "d2879bb8.476c48",
        "name": "Send Notification",
        "links": [
            "a69a61fd.e1ff7"
        ],
        "x": 820,
        "y": 870,
        "wires": [],
        "l": true
    },
    {
        "id": "eaef6ec8.d1026",
        "type": "server-state-changed",
        "z": "d2879bb8.476c48",
        "name": "Morning Routine",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "entityidfilter": "input_select.house_mode",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "Morning",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 190,
        "y": 150,
        "wires": [
            [
                "96f1a21a.7173d"
            ],
            []
        ]
    },
    {
        "id": "8a4d2577.cd6848",
        "type": "server-state-changed",
        "z": "d2879bb8.476c48",
        "name": "Night Routine",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "entityidfilter": "input_select.house_mode",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "Night",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 190,
        "y": 590,
        "wires": [
            [
                "653eab07.6c65e4",
                "508583a.69a437c",
                "f84f4a4d.021878",
                "a623a6d.36a0658",
                "b7bc12ab.95fdf",
                "e828130a.5a83e",
                "a32adaf.863c528",
                "eefa5d5c.57057"
            ],
            []
        ]
    },
    {
        "id": "71014e23.d56a8",
        "type": "server-state-changed",
        "z": "d2879bb8.476c48",
        "name": "Day Routine",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "entityidfilter": "input_select.house_mode",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "Day",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 190,
        "y": 270,
        "wires": [
            [
                "9b631a53.06af28"
            ],
            []
        ]
    },
    {
        "id": "d112bed.ad68d4",
        "type": "server-state-changed",
        "z": "d2879bb8.476c48",
        "name": "Evening Routine",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "entityidfilter": "input_select.house_mode",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "Evening",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 190,
        "y": 420,
        "wires": [
            [
                "f8a6b334.ae589"
            ],
            []
        ]
    },
    {
        "id": "f8a6b334.ae589",
        "type": "link out",
        "z": "d2879bb8.476c48",
        "name": "Turn on evening Scene",
        "links": [
            "6933e03f.8b93f"
        ],
        "x": 530,
        "y": 370,
        "wires": [],
        "l": true
    },
    {
        "id": "9b631a53.06af28",
        "type": "link out",
        "z": "d2879bb8.476c48",
        "name": "Turn off at day scene",
        "links": [
            "5577022b.1192cc"
        ],
        "x": 520,
        "y": 240,
        "wires": [],
        "l": true
    },
    {
        "id": "eefa5d5c.57057",
        "type": "link out",
        "z": "d2879bb8.476c48",
        "name": "Turn on night scene",
        "links": [
            "39b25a59.f7c0f6"
        ],
        "x": 560,
        "y": 1000,
        "wires": [],
        "l": true
    },
    {
        "id": "a7186ad1.e8bf48",
        "type": "comment",
        "z": "d2879bb8.476c48",
        "name": "Scenes - Automations",
        "info": "",
        "x": 220,
        "y": 1140,
        "wires": []
    },
    {
        "id": "115d660d.6b6ada",
        "type": "server-state-changed",
        "z": "d2879bb8.476c48",
        "name": "Hot Tub",
        "server": "65b61d5d.d1e1c4",
        "entityidfilter": "input_boolean.hot_tub_scene",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "habool",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 170,
        "y": 1213,
        "wires": [
            [
                "b70aca02.e83128"
            ]
        ]
    },
    {
        "id": "b70aca02.e83128",
        "type": "switch",
        "z": "d2879bb8.476c48",
        "name": "on/off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 368,
        "y": 1218,
        "wires": [
            [
                "950af4ad.897aa8"
            ],
            [
                "84b65cca.e2d3e"
            ]
        ]
    },
    {
        "id": "950af4ad.897aa8",
        "type": "link out",
        "z": "d2879bb8.476c48",
        "name": "Turn on Hot Tub Scene",
        "links": [
            "562ff468.8e249c",
            "233ebac9.692876"
        ],
        "x": 620,
        "y": 1190,
        "wires": [],
        "l": true
    },
    {
        "id": "84b65cca.e2d3e",
        "type": "link out",
        "z": "d2879bb8.476c48",
        "name": "Turn off Hot Tub Scene",
        "links": [
            "ab97c066.6aef4",
            "637a1c24.bfa924"
        ],
        "x": 620,
        "y": 1260,
        "wires": [],
        "l": true
    },
    {
        "id": "428bddf9.7a3a94",
        "type": "server-state-changed",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "entityidfilter": "binary_sensor.garage_multisensor_sensor",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "habool",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 1780,
        "y": 740,
        "wires": [
            [
                "6ac813c9.0cd38c",
                "15bb347c.dc21ac"
            ]
        ]
    },
    {
        "id": "6ac813c9.0cd38c",
        "type": "debug",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2260,
        "y": 700,
        "wires": []
    },
    {
        "id": "15bb347c.dc21ac",
        "type": "switch",
        "z": "ca2305ba.3a64f8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2110,
        "y": 760,
        "wires": [
            [
                "e2bb6e0e.23f39",
                "4dccf0b6.66568",
                "6ac813c9.0cd38c"
            ],
            []
        ]
    },
    {
        "id": "2addefc.bae001",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "OFF",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.garage_light_switch",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 2590,
        "y": 850,
        "wires": [
            []
        ]
    },
    {
        "id": "4dccf0b6.66568",
        "type": "api-call-service",
        "z": "ca2305ba.3a64f8",
        "name": "ON",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.garage_light_switch",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 2430,
        "y": 770,
        "wires": [
            []
        ]
    },
    {
        "id": "a874bbce.82ef88",
        "type": "api-current-state",
        "z": "ca2305ba.3a64f8",
        "name": "Still Motion?",
        "server": "65b61d5d.d1e1c4",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "binary_sensor.garage_multisensor_sensor",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 2430,
        "y": 830,
        "wires": [
            [],
            [
                "2addefc.bae001"
            ]
        ]
    },
    {
        "id": "e2bb6e0e.23f39",
        "type": "stoptimer",
        "z": "ca2305ba.3a64f8",
        "duration": "5",
        "units": "Minute",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "5 Min wait",
        "x": 2260,
        "y": 790,
        "wires": [
            [
                "a874bbce.82ef88"
            ],
            []
        ]
    }
]